
.oc__body_cart {
    width: 200px; position: fixed; margin: 0px 10px 0px; z-index: 9999; right: 0px; bottom: 0px;
}
.oc__body {
    width: 200px; position: fixed; margin: 0px 10px 0px; z-index: 9999; right: 0px; bottom: 0px;
}

.oc-button__wrapper {
    position: relative;
    width: 100%;
    height: 30px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #28a745;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 10;
}

.oc-button__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #28a745 center top;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.oc-button__content_cart {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #28a745 center top;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.oc-button--open .oc-button__content .oc-button__content_cart {
    box-shadow: 0 0 2px black;
}

.oc-button__header {
    position: relative;
    height: 30px;
    color: white;
    cursor: pointer;
}

.oc-button__header span {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 30%;
    display: block;
    /*width: 140px;*/
    padding-left: 45px;
    margin: -10px 0 0 -70px;
    font-size: 14px;
}

.oc-button__header span strong {
    font-size: 18px;
}

.oc-button__header span i {
    position: absolute;
    top: 50%;
    left: 95%;
    display: block;
    margin-top: -50px;
    width: 45px;
    height: 45px;
    background: transparent url(logo.png) center center;
    background-size: 100%;
}

.oc-button__form {
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 auto;
    max-width: 250px;
    height: 0;
    transition: height 0.3s;
    overflow: hidden;
}

.oc-button--open .oc-button__form {
    height: 130px;
}

.oc-button__form-inputs {
    height: 100px;
}

.oc-button__input {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    padding: 2px 5px;
    margin-top: 5px;
    width: 100%;
    height: 26px;
    border-radius: 2px;
    border: 1px solid #cdcdcd;
}

.oc-button__input:focus {
    outline: none;
    box-shadow: 0 0 2px #ccc;
}

.oc-button__input.oc--error {
    box-shadow: 0 0 3px 1px red;
}

.oc-button__button {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 5px;
    width: 100%;
    height: 26px;
    border-radius: 2px;
    border: none;
    background: #128c7e;
    font-weight: bold;
    transition: background 0.1s linear;
    color: white;
}

.oc-button__button:focus {
    outline: none;
    box-shadow: 0 0 2px #ccc;
}

.oc-button__button:active {
    background: #28a745;
}

.oc-button__form-response {
    box-sizing: border-box;
    padding-top: 5px;
    height: 100px;
    text-align: center;
    color: white;
}

.oc-button__form-response p {
    font-size: 12px;
    line-height: 1.46;
    margin: 0 0 10px;
}

.oc-button__form-response p:last-child {
    margin-bottom: 0;
}

.oc-button__form-response i {
    display: inline-block;
    margin: 2px 2px 0;
    width: 15px;
    height: 15px;
    background: transparent url(emoji.png) center center;
    background-size: 100%;
}

.oc-button__signature {
    display: block;
    margin-top: 8px;
    width: 100%;
    font-size: 10px;
    text-align: center;
    color: #ddd;
}

.invisible_text{
    color: #FFFFFF;
    opacity: inherit;
}