

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}


li {
    list-style: none
}

ul {
    margin: 0;
    padding: 0
}

.scaffold-bus-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 665px
}

.scaffold-bus {
    background-image: url(../img/planta.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 207px;
    padding: 14px 0 0 90px;
    position: relative;
    width: 665px
}

.seat-icon {
    border-radius: 2px;
    flex-shrink: 0;
    height: 16px;
    margin-right: .5rem;
    width: 16px
}

.seat-free {
    background-color: #7ecc00
}

.seat-selected {
    background-color: #ffcc3e
}

.seat-not_found {
    background: red
}

.legend-seat-busy,.seats-summary .seat-occupied {
    background-image: url(../img/ocupado.svg)
}

.seats-subtitles {
    display: flex;
    margin: 1rem 2rem 2rem
}

.seats-summary__subtitle {
    height: 1.6rem;
    overflow: hidden;
    width: 100%
}

.seats-summary__subtitle-action {
    cursor: pointer
}

.seats-subtitles li {
    align-items: center;
    color: #383838;
    display: flex;
    margin-right: 1rem
}

.seats-summary {
    margin: 0 2rem 3rem 0;
    width: 200px
}

.seats-summary__title {
    color: #000075
}

.seats-summary__seat-selected {
    margin: .5rem 0 0
}

.seats-selected-list {
    font-size: 1rem
}

.selected-seat-item {
    align-items: center;
    display: flex;
    height: 1.8rem;
    overflow: hidden
}

.selected-seat-item-action {
    color: #c00000;
    cursor: pointer;
    margin: 0 0 0 1rem
}

.seats-summary__no-seat-selected {
    color: #393939;
    font-size: .9rem
}

.seat-map-name-container {
    margin: 1rem 0 0;
    width: 100%
}

.seatBusApp {
    width: 100%
}

.bus-map-name {
    margin: 0
}

.bus-seats {
    display: block;
    height: 180px;
    margin: 0;
    position: relative;
    z-index: 1
}

.bus-seats .seat {
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    opacity: 1;
    text-align: center;
    width: 36px;
    font-size: 14px;
    font-weight: 600;
}

.bus-seats .seatNumberLabel {
    display: inline-block
}

.bus-seats .seat-occupied {
    cursor: default
}

.bus-seats .seat-occupied .seatNumberLabel {
    background-image: url(../img/ocupado.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25px;
    line-height: 25px;
    margin: -28px 0 0 -14px;
    position: absolute;
    text-align: center;
    width: 25px
}

.bus-seats .seat-occupied:before {
    height: 100%;
    width: 90%
}

.bus-seats .seat-occupied:after,.bus-seats .seat-occupied:before {
    background-color: #fff;
    border: 1px solid #c5c5c5;
    border-radius: 2px 0 0 2px;
    content: "";
    display: block
}

.bus-seats .seat-occupied:after {
    height: 76%;
    margin: -78% 0 0 85%;
    width: 22%
}

.bus-seats .seat-free .seatNumberLabel {
    color: #fff;
    height: 32px;
    line-height: 32px;
    margin: -32px 0 0 -18px;
    position: absolute;
    text-align: center;
    width: 32px
}

.bus-seats .seat-free:before {
    background-color: #7ecc00;
    border: 1px solid #7ecc00;
    border-radius: 2px 0 0 2px;
    content: "";
    display: block;
    height: 100%;
    width: 90%
}

.bus-seats .seat-free:after {
    background-color: #66a403;
    border: 1px solid #43ab2a;
    border-radius: 2px 0 0 2px;
    content: "";
    display: block;
    height: 76%;
    margin: -78% 0 0 85%;
    width: 22%
}

.bus-seats .seat-selected .seatNumberLabel {
    color: #5d1499;
    height: 32px;
    line-height: 32px;
    margin: -32px 0 0 -18px;
    position: absolute;
    text-align: center;
    width: 32px
}

.bus-seats .seat-selected:before {
    background-color: #ffcc3e;
    border: 1px solid #ffcc3e;
    border-image: initial;
    border-radius: 2px 0 0 2px;
    content: "";
    display: block;
    height: 100%;
    width: 90%
}

.bus-seats .seat-selected:after {
    background-color: #f1b100;
    border: 1px solid #f1b100;
    border-image: initial;
    border-radius: 2px 0 0 2px;
    content: "";
    display: block;
    height: 76%;
    margin: -78% 0 0 85%;
    width: 22%
}

.bus-seats .seat-not_found .seatNumberLabel {
    color: #fff;
    height: 32px;
    line-height: 32px;
    margin: -32px 0 0 -18px;
    position: absolute;
    text-align: center;
    width: 32px
}

.bus-seats .seat-not_found:before {
    background-color: red;
    border: 1px solid red;
    border-image: initial;
    border-radius: 2px 0 0 2px;
    content: "";
    display: block;
    height: 100%;
    width: 90%
}

.bus-seats .seat-not_found:after {
    background-color: #a80000;
    border: 1px solid #bf1515;
    border-image: initial;
    border-radius: 2px 0 0 2px;
    content: "";
    display: block;
    height: 76%;
    margin: -78% 0 0 85%;
    width: 22%
}

.bus-seats .seat-highlight:after {
    background: aqua
}

.seats-summary .seat-highlight .seat-selected {
    position: relative
}

.seats-summary .seat-highlight .seat-selected:after {
    border-bottom: 3px solid aqua;
    bottom: 1px;
    content: " ";
    display: block;
    left: 3px;
    position: absolute;
    width: 11px
}

.bus-seats .y-0 {
    bottom: 0;
    position: absolute
}

.bus-seats .y-1 {
    bottom: 42px;
    position: absolute
}

.bus-seats .y-2 {
    bottom: 84px;
    position: absolute;
    top: 42px
}

.bus-seats .y-3 {
    bottom: 84px;
    position: absolute;
    top: 0
}

.bus-seats .x-0 {
    left: 0;
    position: absolute
}

.bus-seats .x-1 {
    left: 40px;
    position: absolute
}

.bus-seats .x-2 {
    left: 80px;
    position: absolute
}

.bus-seats .x-3 {
    left: 120px;
    position: absolute
}

.bus-seats .x-4 {
    left: 160px;
    position: absolute
}

.bus-seats .x-5 {
    left: 200px;
    position: absolute
}

.bus-seats .x-6 {
    left: 240px;
    position: absolute
}

.bus-seats .x-7 {
    left: 280px;
    position: absolute
}

.bus-seats .x-8 {
    left: 320px;
    position: absolute
}

.bus-seats .x-9 {
    left: 360px;
    position: absolute
}

.bus-seats .x-10 {
    left: 400px;
    position: absolute
}

.bus-seats .x-11 {
    left: 440px;
    position: absolute
}

.bus-seats .x-12 {
    left: 480px;
    position: absolute
}

.bus-seats .x-13 {
    left: 520px;
    position: absolute
}

.bus-seats .x-14 {
    left: 560px;
    position: absolute
}

.base-floor.inactive,.floors.inactive,.superior-floor.inactive {
    display: none
}

.floor-button-first {
    margin: 0 1rem 0 0
}

.floor-button-active {
    background: #268d77;
    color: #fff
}

.floor-button-active:hover {
    background: #2ca48a;
    color: #fff
}

.busMapApp {
    width: 100%
}

.seat-enabled {
    background-color: #659f07
}

.seat-disabled {
    background-color: #ff5a5f
}

.seat-reservado {
    background-color: #ffc107
}

.seat-reservado-bloqueio {
    background-color: #77c4ff;

    animation-name: blinking_bloqueio;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes blinking_bloqueio {
    0% {
        background-color: #77c4ff;
    }
    50% {
        background-color: #ff5a5f;
    }
    100% {
        background-color: #77c4ff;
    }
}

.bus-seats .seat-disabled {
    color: #fff
}

.bus-seats .seat-disabled .seatNumberLabel {
    height: 25px;
    line-height: 25px;
    margin: -28px 0 0 -14px;
    position: absolute;
    text-align: center;
    width: 25px
}

.bus-seats .seat-disabled:before {
    background-color: #ff5a5f;
    border-radius: 2px 0 0 2px;
    content: "";
    display: block;
    height: 100%;
    width: 90%
}

.bus-seats .seat-disabled:after {
    background-color: #991a1a;
    border: 1px solid #bc3030;
    border-radius: 2px 0 0 2px;
    content: "";
    display: block;
    height: 76%;
    margin: -78% 0 0 85%;
    width: 22%
}

.bus-seats .seat-enabled .seatNumberLabel {
    color: #fff;
    height: 32px;
    line-height: 32px;
    margin: -32px 0 0 -18px;
    position: absolute;
    text-align: center;
    width: 32px
}

.bus-seats .seat-enabled:before {
    background-color: #659f07;
    border: 1px solid #659f07;
    border-radius: 2px 0 0 2px;
    content: "";
    display: block;
    height: 100%;
    width: 90%
}

.bus-seats .seat-enabled:after {
    background-color: #688f29;
    border: 1px solid #688f29;
    border-radius: 2px 0 0 2px;
    content: "";
    display: block;
    height: 76%;
    margin: -78% 0 0 85%;
    width: 22%
}

.bus-seats .seat-reservado:after {
    background-color: #f1b100;
    border: 1px solid #f1b100;
    border-radius: 2px 0 0 2px;
    content: "";
    display: block;
    height: 76%;
    margin: -78% 0 0 85%;
    width: 22%
}

.bus-seats .seat-reservado-bloqueio:after {
    background-color: #4a94cd;
    border: 1px solid #4a94cd;
    border-radius: 2px 0 0 2px;
    content: "";
    display: block;
    height: 76%;
    margin: -78% 0 0 85%;
    width: 22%;

    /* Definir a animaÃ§Ã£o */
    animation-name: blinking;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* Definir a animaÃ§Ã£o keyframes */
@keyframes blinking {
    0% {
        background-color: #4a94cd;
        border: 1px solid #4a94cd;
    }
    50% {
        background-color: #991a1a;
        border: #991a1a;
    }
    100% {
        background-color: #4a94cd;
        border: 1px solid #4a94cd;
    }
}

.form-group input,.form-group label {
    margin-bottom: .2rem
}

.form-group .radio-input-label {
    margin: 0 1rem 0 0
}

.form-group input[type=radio] {
    height: 18px;
    width: 18px
}

.busMapForm {
    margin: 0;
    width: 100%
}

.busMapForm>div {
    margin: 0 0 1rem
}

.busMapNameContainer {
    width: 100%
}

.top-parent-container {
    padding: 0 0 2rem
}

.parent-title {
    margin: 0
}

.busMapAppContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 3rem auto 0;
    max-width: 665px;
    width: 100%
}

@media (max-width: 680px) {
    .scaffold-bus {
        left:50%;
        margin: 15rem 0 0;
        position: absolute;
        transform: translate(-50%) rotate(90deg)
    }

    .bus-seats .seatNumberLabel {
        transform: rotate(-90deg)
    }

    .seat-map {
        height: 680px;
        margin: 0 auto 1rem;
        position: relative;
        width: 100%
    }

    .seats-subtitles {
        /*flex-direction: column;*/
        margin: 0;
        position: absolute;
        right: -45px;
        top: -30px
    }
}

@media (max-width: 310px) {
    .seat-map {
        margin:4rem 0 1rem
    }

    .seats-subtitles {
        right: inherit
    }

    .busMapAppContainer .floors.inactive,.seatBusAppContainer .floors.inactive {
        display: none
    }

    .busMapAppContainer .floors,.seatBusAppContainer .floors {
        display: flex;
        flex-direction: column
    }

    .floor-button-first,.floors p {
        margin: 0 0 1rem
    }
}