
.flatpickr-calendar {
    box-shadow: none !important;
    border: none !important;
    margin: 0 auto
}

.flatpickr-day.selected {
    background-color: var(--color-1) !important
}

.flatpickr-month {
    font-size: 10px
}

.flatpickr-next-month,.flatpickr-prev-month {
    margin-top: -8px
}



.flatpickr-calendar {
    background: transparent;
    opacity: 0;
    display: none;
    text-align: center;
    visibility: hidden;
    padding: 0;
    -webkit-animation: none;
    animation: none;
    direction: ltr;
    border: 0;
    font-size: 14px;
    line-height: 24px;
    border-radius: 5px;
    position: absolute;
    width: 307.875px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background: #fff;
    -webkit-box-shadow: 1px 0 0 #e6e6e6,-1px 0 0 #e6e6e6,0 1px 0 #e6e6e6,0 -1px 0 #e6e6e6,0 3px 13px rgba(0,0,0,0.08);
    box-shadow: 1px 0 0 #e6e6e6,-1px 0 0 #e6e6e6,0 1px 0 #e6e6e6,0 -1px 0 #e6e6e6,0 3px 13px rgba(0,0,0,0.08)
}

.flatpickr-calendar.open,.flatpickr-calendar.inline {
    opacity: 1;
    max-height: 640px;
    visibility: visible
}

.flatpickr-calendar.open {
    display: inline-block;
    z-index: 99999
}

.flatpickr-calendar.animate.open {
    -webkit-animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
    animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1)
}

.flatpickr-calendar.inline {
    display: block;
    position: relative;
    top: 2px
}

.flatpickr-calendar.static {
    position: absolute;
    top: calc(100% + 2px)
}

.flatpickr-calendar.static.open {
    z-index: 999;
    display: block
}

.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+1) .flatpickr-day.inRange:nth-child(7n+7) {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1) {
    -webkit-box-shadow: -2px 0 0 #e6e6e6,5px 0 0 #e6e6e6;
    box-shadow: -2px 0 0 #e6e6e6,5px 0 0 #e6e6e6
}

.flatpickr-calendar .hasWeeks .dayContainer,.flatpickr-calendar .hasTime .dayContainer {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.flatpickr-calendar .hasWeeks .dayContainer {
    border-left: 0
}

.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
    height: 40px;
    border-top: 1px solid #e6e6e6
}

.flatpickr-calendar.noCalendar.hasTime .flatpickr-time {
    height: auto
}

.flatpickr-calendar:before,.flatpickr-calendar:after {
    position: absolute;
    display: block;
    pointer-events: none;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    left: 22px
}

.flatpickr-calendar.rightMost:before,.flatpickr-calendar.rightMost:after {
    left: auto;
    right: 22px
}

.flatpickr-calendar:before {
    border-width: 5px;
    margin: 0 -5px
}

.flatpickr-calendar:after {
    border-width: 4px;
    margin: 0 -4px
}

.flatpickr-calendar.arrowTop:before,.flatpickr-calendar.arrowTop:after {
    bottom: 100%
}

.flatpickr-calendar.arrowTop:before {
    border-bottom-color: #e6e6e6
}

.flatpickr-calendar.arrowTop:after {
    border-bottom-color: #fff
}

.flatpickr-calendar.arrowBottom:before,.flatpickr-calendar.arrowBottom:after {
    top: 100%
}

.flatpickr-calendar.arrowBottom:before {
    border-top-color: #e6e6e6
}

.flatpickr-calendar.arrowBottom:after {
    border-top-color: #fff
}

.flatpickr-calendar:focus {
    outline: 0
}

.flatpickr-wrapper {
    position: relative;
    display: inline-block
}

.flatpickr-months {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.flatpickr-months .flatpickr-month {
    background: transparent;
    color: rgba(0,0,0,0.9);
    fill: rgba(0,0,0,0.9);
    height: 34px;
    line-height: 1;
    text-align: center;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.flatpickr-months .flatpickr-prev-month,.flatpickr-months .flatpickr-next-month {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    height: 34px;
    padding: 10px;
    z-index: 3;
    color: rgba(0,0,0,0.9);
    fill: rgba(0,0,0,0.9)
}

.flatpickr-months .flatpickr-prev-month.flatpickr-disabled,.flatpickr-months .flatpickr-next-month.flatpickr-disabled {
    display: none
}

.flatpickr-months .flatpickr-prev-month i,.flatpickr-months .flatpickr-next-month i {
    position: relative
}

.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,.flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
    left: 0
}

.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
    right: 0
}

.flatpickr-months .flatpickr-prev-month:hover,.flatpickr-months .flatpickr-next-month:hover {
    color: #959ea9
}

.flatpickr-months .flatpickr-prev-month:hover svg,.flatpickr-months .flatpickr-next-month:hover svg {
    fill: #f64747
}

.flatpickr-months .flatpickr-prev-month svg,.flatpickr-months .flatpickr-next-month svg {
    width: 14px;
    height: 14px
}

.flatpickr-months .flatpickr-prev-month svg path,.flatpickr-months .flatpickr-next-month svg path {
    -webkit-transition: fill .1s;
    transition: fill .1s;
    fill: inherit
}

.numInputWrapper {
    position: relative;
    height: auto
}

.numInputWrapper input,.numInputWrapper span {
    display: inline-block
}

.numInputWrapper input {
    width: 100%
}

.numInputWrapper input::-ms-clear {
    display: none
}

.numInputWrapper input::-webkit-outer-spin-button,.numInputWrapper input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none
}

.numInputWrapper span {
    position: absolute;
    right: 0;
    width: 14px;
    padding: 0 4px 0 2px;
    height: 50%;
    line-height: 50%;
    opacity: 0;
    cursor: pointer;
    border: 1px solid rgba(57,57,57,0.15);
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.numInputWrapper span:hover {
    background: rgba(0,0,0,0.1)
}

.numInputWrapper span:active {
    background: rgba(0,0,0,0.2)
}

.numInputWrapper span:after {
    display: block;
    content: "";
    position: absolute
}

.numInputWrapper span.arrowUp {
    top: 0;
    border-bottom: 0
}

.numInputWrapper span.arrowUp:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(57,57,57,0.6);
    top: 26%
}

.numInputWrapper span.arrowDown {
    top: 50%
}

.numInputWrapper span.arrowDown:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(57,57,57,0.6);
    top: 40%
}

.numInputWrapper span svg {
    width: inherit;
    height: auto
}

.numInputWrapper span svg path {
    fill: rgba(0,0,0,0.5)
}

.numInputWrapper:hover {
    background: rgba(0,0,0,0.05)
}

.numInputWrapper:hover span {
    opacity: 1
}

.flatpickr-current-month {
    font-size: 135%;
    line-height: inherit;
    font-weight: 300;
    color: inherit;
    position: absolute;
    width: 75%;
    left: 12.5%;
    padding: 7.48px 0 0 0;
    line-height: 1;
    height: 34px;
    display: inline-block;
    text-align: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.flatpickr-current-month span.cur-month {
    font-family: inherit;
    font-weight: 700;
    color: inherit;
    display: inline-block;
    margin-left: .5ch;
    padding: 0
}

.flatpickr-current-month span.cur-month:hover {
    background: rgba(0,0,0,0.05)
}

.flatpickr-current-month .numInputWrapper {
    width: 6ch;
    width: 7ch\0;
    display: inline-block
}

.flatpickr-current-month .numInputWrapper span.arrowUp:after {
    border-bottom-color: rgba(0,0,0,0.9)
}

.flatpickr-current-month .numInputWrapper span.arrowDown:after {
    border-top-color: rgba(0,0,0,0.9)
}

.flatpickr-current-month input.cur-year {
    background: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    cursor: text;
    padding: 0 0 0 .5ch;
    margin: 0;
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
    font-weight: 300;
    line-height: inherit;
    height: auto;
    border: 0;
    border-radius: 0;
    vertical-align: initial;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield
}

.flatpickr-current-month input.cur-year:focus {
    outline: 0
}

.flatpickr-current-month input.cur-year[disabled],.flatpickr-current-month input.cur-year[disabled]:hover {
    font-size: 100%;
    color: rgba(0,0,0,0.5);
    background: transparent;
    pointer-events: none
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
    appearance: menulist;
    background: transparent;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    font-weight: 300;
    height: auto;
    line-height: inherit;
    margin: -1px 0 0 0;
    outline: none;
    padding: 0 0 0 .5ch;
    position: relative;
    vertical-align: initial;
    -webkit-box-sizing: border-box;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    width: auto
}

.flatpickr-current-month .flatpickr-monthDropdown-months:focus,.flatpickr-current-month .flatpickr-monthDropdown-months:active {
    outline: none
}

.flatpickr-current-month .flatpickr-monthDropdown-months:hover {
    background: rgba(0,0,0,0.05)
}

.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
    background-color: transparent;
    outline: none;
    padding: 0
}

.flatpickr-weekdays {
    background: transparent;
    text-align: center;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 28px
}

.flatpickr-weekdays .flatpickr-weekdaycontainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

span.flatpickr-weekday {
    cursor: default;
    font-size: 90%;
    background: transparent;
    color: rgba(0,0,0,0.54);
    line-height: 1;
    margin: 0;
    text-align: center;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-weight: bolder
}

.dayContainer,.flatpickr-weeks {
    padding: 1px 0 0 0
}

.flatpickr-days {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 307.875px
}

.flatpickr-days:focus {
    outline: 0
}

.dayContainer {
    padding: 0;
    outline: 0;
    text-align: left;
    width: 307.875px;
    min-width: 307.875px;
    max-width: 307.875px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
}

.dayContainer+.dayContainer {
    -webkit-box-shadow: -1px 0 0 #e6e6e6;
    box-shadow: -1px 0 0 #e6e6e6
}

.flatpickr-day {
    background: none;
    border: 1px solid transparent;
    border-radius: 150px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #393939;
    cursor: pointer;
    font-weight: 400;
    width: 14.2857143%;
    -webkit-flex-basis: 14.2857143%;
    -ms-flex-preferred-size: 14.2857143%;
    flex-basis: 14.2857143%;
    max-width: 39px;
    height: 39px;
    line-height: 39px;
    margin: 0;
    display: inline-block;
    position: relative;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center
}

.flatpickr-day.inRange,.flatpickr-day.prevMonthDay.inRange,.flatpickr-day.nextMonthDay.inRange,.flatpickr-day.today.inRange,.flatpickr-day.prevMonthDay.today.inRange,.flatpickr-day.nextMonthDay.today.inRange,.flatpickr-day:hover,.flatpickr-day.prevMonthDay:hover,.flatpickr-day.nextMonthDay:hover,.flatpickr-day:focus,.flatpickr-day.prevMonthDay:focus,.flatpickr-day.nextMonthDay:focus {
    cursor: pointer;
    outline: 0;
    background: #e6e6e6;
    border-color: #e6e6e6
}

.flatpickr-day.today {
    border-color: #959ea9
}

.flatpickr-day.today:hover,.flatpickr-day.today:focus {
    border-color: #959ea9;
    background: #959ea9;
    color: #fff
}

.flatpickr-day.selected,.flatpickr-day.startRange,.flatpickr-day.endRange,.flatpickr-day.selected.inRange,.flatpickr-day.startRange.inRange,.flatpickr-day.endRange.inRange,.flatpickr-day.selected:focus,.flatpickr-day.startRange:focus,.flatpickr-day.endRange:focus,.flatpickr-day.selected:hover,.flatpickr-day.startRange:hover,.flatpickr-day.endRange:hover,.flatpickr-day.selected.prevMonthDay,.flatpickr-day.startRange.prevMonthDay,.flatpickr-day.endRange.prevMonthDay,.flatpickr-day.selected.nextMonthDay,.flatpickr-day.startRange.nextMonthDay,.flatpickr-day.endRange.nextMonthDay {
    background: #e6e6e6;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    border-color: #e6e6e6
}

.flatpickr-day.selected.startRange,.flatpickr-day.startRange.startRange,.flatpickr-day.endRange.startRange {
    border-radius: 50px 0 0 50px
}

.flatpickr-day.selected.endRange,.flatpickr-day.startRange.endRange,.flatpickr-day.endRange.endRange {
    border-radius: 0 50px 50px 0
}

.flatpickr-day.selected.startRange+.endRange:not(:nth-child(7n+1)),.flatpickr-day.startRange.startRange+.endRange:not(:nth-child(7n+1)),.flatpickr-day.endRange.startRange+.endRange:not(:nth-child(7n+1)) {
    -webkit-box-shadow: -10px 0 0 #e6e6e6;
    box-shadow: -10px 0 0 #e6e6e6
}

.flatpickr-day.selected.startRange.endRange,.flatpickr-day.startRange.startRange.endRange,.flatpickr-day.endRange.startRange.endRange {
    border-radius: 50px
}

.flatpickr-day.inRange {
    border-radius: 0;
    -webkit-box-shadow: -5px 0 0 #e6e6e6,5px 0 0 #e6e6e6;
    box-shadow: -5px 0 0 #e6e6e6,5px 0 0 #e6e6e6
}

.flatpickr-day.flatpickr-disabled,.flatpickr-day.flatpickr-disabled:hover,.flatpickr-day.prevMonthDay,.flatpickr-day.nextMonthDay,.flatpickr-day.notAllowed,.flatpickr-day.notAllowed.prevMonthDay,.flatpickr-day.notAllowed.nextMonthDay {
    color: rgba(57,57,57,0.3);
    background: transparent;
    border-color: transparent;
    cursor: default
}

.flatpickr-day.flatpickr-disabled,.flatpickr-day.flatpickr-disabled:hover {
    cursor: not-allowed;
    color: rgba(57,57,57,0.1)
}

.flatpickr-day.week.selected {
    border-radius: 0;
    -webkit-box-shadow: -5px 0 0 #e6e6e6,5px 0 0 #e6e6e6;
    box-shadow: -5px 0 0 #e6e6e6,5px 0 0 #e6e6e6
}

.flatpickr-day.hidden {
    visibility: hidden
}

.rangeMode .flatpickr-day {
    margin-top: 1px
}

.flatpickr-weekwrapper {
    float: left
}

.flatpickr-weekwrapper .flatpickr-weeks {
    padding: 0 12px;
    -webkit-box-shadow: 1px 0 0 #e6e6e6;
    box-shadow: 1px 0 0 #e6e6e6
}

.flatpickr-weekwrapper .flatpickr-weekday {
    float: none;
    width: 100%;
    line-height: 28px
}

.flatpickr-weekwrapper span.flatpickr-day,.flatpickr-weekwrapper span.flatpickr-day:hover {
    display: block;
    width: 100%;
    max-width: none;
    color: rgba(57,57,57,0.3);
    background: transparent;
    cursor: default;
    border: none
}

.flatpickr-innerContainer {
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden
}

.flatpickr-rContainer {
    display: inline-block;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.flatpickr-time {
    text-align: center;
    outline: 0;
    display: block;
    height: 0;
    line-height: 40px;
    max-height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.flatpickr-time:after {
    content: "";
    display: table;
    clear: both
}

.flatpickr-time .numInputWrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 40%;
    height: 40px;
    float: left
}

.flatpickr-time .numInputWrapper span.arrowUp:after {
    border-bottom-color: #393939
}

.flatpickr-time .numInputWrapper span.arrowDown:after {
    border-top-color: #393939
}

.flatpickr-time.hasSeconds .numInputWrapper {
    width: 26%
}

.flatpickr-time.time24hr .numInputWrapper {
    width: 49%
}

.flatpickr-time input {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    height: inherit;
    line-height: inherit;
    color: #393939;
    font-size: 14px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield
}

.flatpickr-time input.flatpickr-hour {
    font-weight: bold
}

.flatpickr-time input.flatpickr-minute,.flatpickr-time input.flatpickr-second {
    font-weight: 400
}

.flatpickr-time input:focus {
    outline: 0;
    border: 0
}

.flatpickr-time .flatpickr-time-separator,.flatpickr-time .flatpickr-am-pm {
    height: inherit;
    float: left;
    line-height: inherit;
    color: #393939;
    font-weight: bold;
    width: 2%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center
}

.flatpickr-time .flatpickr-am-pm {
    outline: 0;
    width: 18%;
    cursor: pointer;
    text-align: center;
    font-weight: 400
}

.flatpickr-time input:hover,.flatpickr-time .flatpickr-am-pm:hover,.flatpickr-time input:focus,.flatpickr-time .flatpickr-am-pm:focus {
    background: #eee
}

.flatpickr-input[readonly] {
    cursor: pointer
}

@-webkit-keyframes fpFadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fpFadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.waitMe_container:not(body),body.waitMe_container .waitMe {
    transform: translateZ(0);
    backface-visibility: hidden
}

body.waitMe_container .waitMe {
    position: fixed;
    height: 100vh
}

body.waitMe_container .waitMe .waitMe_content {
    top: 50% !important;
    transform: none !important
}

.waitMe_container .waitMe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9989;
    text-align: center;
    overflow: hidden;
    cursor: wait
}

.waitMe_container .waitMe * {
    font-family: inherit;
    font-size: inherit;
    font-weight: initial;
    font-style: initial;
    line-height: initial;
    color: initial;
    text-decoration: initial;
    text-transform: initial;
    padding: initial;
    margin: initial
}

.waitMe_container .waitMe .waitMe_content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    backface-visibility: hidden
}

.waitMe_container .waitMe .waitMe_content.horizontal>.waitMe_progress {
    display: inline-block;
    vertical-align: middle
}

.waitMe_container .waitMe .waitMe_content.horizontal>.waitMe_text {
    display: inline-block;
    margin: 0 0 0 20px;
    vertical-align: middle
}

.waitMe_container .waitMe .waitMe_progress {
    position: relative;
    font-size: 0;
    line-height: 0
}

.waitMe_container .waitMe .waitMe_progress>div {
    animation-fill-mode: both;
    display: inline-block;
    transform: translateZ(0);
    backface-visibility: hidden
}

.waitMe_container .waitMe .waitMe_text {
    position: relative;
    margin: 20px 0 0
}




body.waitMe_body .waitMe_container:not([data-waitme_id]) {
    position: fixed;
    z-index: 9989;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff
}

body.waitMe_body .waitMe_container:not([data-waitme_id])>div {
    animation-fill-mode: both;
    position: absolute
}

body.waitMe_body .waitMe_container.progress>div {
    width: 0;
    height: 3px;
    top: 0;
    left: 0;
    background: #000;
    box-shadow: -5px 0 5px 2px rgba(0,0,0,0.2);
    animation: progress_body 7s infinite ease-out
}

body.waitMe_body .waitMe_container.working>div {
    width: 10%;
    height: 3px;
    top: 0;
    left: -10%;
    background: #000;
    box-shadow: -5px 0 5px 2px rgba(0,0,0,0.2);
    animation: working_body 2s infinite linear
}

body.waitMe_body .waitMe_container.progress>div:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 60%;
    right: 0;
    width: 60px;
    border-radius: 50%;
    opacity: .5;
    transform: rotate(3deg);
    box-shadow: #000 1px 0 6px 1px
}

body.waitMe_body .waitMe_container.img>div {
    width: 100%;
    height: 100%;
    text-align: center;
    background-position: center !important;
    background-repeat: no-repeat !important
}

body.waitMe_body .waitMe_container.text>div {
    width: 100%;
    top: 45%;
    text-align: center
}

@keyframes progress_body {
    0% {
        width: 0
    }

    100% {
        width: 100%
    }
}

@keyframes working_body {
    0% {
        left: -10%
    }

    100% {
        left: 100%
    }
}

.waitMe_container .waitMe_progress.bounce>div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: bounce 1.4s infinite ease-in-out
}

.waitMe_container .waitMe_progress.bounce .waitMe_progress_elem1 {
    animation-delay: -.32s
}

.waitMe_container .waitMe_progress.bounce .waitMe_progress_elem2 {
    animation-delay: -.16s
}

@keyframes bounce {
    0%,100%,80% {
        transform: scale(0)
    }

    40% {
        transform: scale(1)
    }
}

.waitMe_container .waitMe_progress.rotateplane>div {
    width: 30px;
    height: 30px;
    animation: rotateplane 1.2s infinite ease-in-out;
    backface-visibility: visible
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px)
    }

    50% {
        transform: perspective(120px) rotateY(180deg)
    }

    100% {
        transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

.waitMe_container .waitMe_progress.stretch {
    height: 60px
}

.waitMe_container .waitMe_progress.stretch>div {
    width: 1px;
    height: 100%;
    margin: 0 4px;
    animation: stretch 1.2s infinite ease-in-out
}

.waitMe_container .waitMe_progress.stretch .waitMe_progress_elem2 {
    animation-delay: -1.1s
}

.waitMe_container .waitMe_progress.stretch .waitMe_progress_elem3 {
    animation-delay: -1s
}

.waitMe_container .waitMe_progress.stretch .waitMe_progress_elem4 {
    animation-delay: -.9s
}

.waitMe_container .waitMe_progress.stretch .waitMe_progress_elem5 {
    animation-delay: -.8s
}

@keyframes stretch {
    0%,100%,40% {
        transform: scaleY(0.4)
    }

    20% {
        transform: scaleY(1)
    }
}

.waitMe_container .waitMe_progress.orbit {
    width: 40px;
    height: 40px;
    margin: auto;
    position: relative
}

.waitMe_container .waitMe_progress.orbit>div {
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    position: absolute;
    animation: orbit_rotate 2s infinite linear
}

.waitMe_container .waitMe_progress.orbit>div>div {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    top: 10%;
    left: 10%;
    position: absolute;
    animation: orbit 2s infinite ease-in-out
}

.waitMe_container .waitMe_progress.orbit .waitMe_progress_elem2>div {
    top: auto;
    bottom: 10%;
    left: auto;
    right: 10%;
    animation-delay: -1s
}

@keyframes orbit_rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes orbit {
    0%,100% {
        transform: scale(0)
    }

    50% {
        transform: scale(1)
    }
}

.waitMe_container .waitMe_progress.roundBounce {
    width: 60px;
    height: 60px;
    margin: auto
}

.waitMe_container .waitMe_progress.roundBounce>div {
    width: 24%;
    height: 24%;
    border-radius: 50%;
    position: absolute;
    animation: roundBounce 1.2s infinite ease-in-out
}

.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem1 {
    top: 0;
    left: 0
}

.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem2 {
    top: 0;
    right: 0
}

.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem3 {
    bottom: 0;
    right: 0
}

.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem4 {
    bottom: 0;
    left: 0
}

.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem5 {
    top: -3%;
    left: 50%;
    margin-top: -12%;
    margin-left: -12%;
    animation-delay: -1.1s
}

.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem6 {
    top: 50%;
    right: -3%;
    margin-top: -12%;
    margin-right: -12%
}

.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem7 {
    bottom: -3%;
    left: 50%;
    margin-bottom: -12%;
    margin-left: -12%
}

.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem8 {
    top: 50%;
    left: -3%;
    margin-top: -12%;
    margin-left: -12%
}

.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem9 {
    top: 0;
    right: 0;
    animation-delay: -1s
}

.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem2 {
    animation-delay: -.9s
}

.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem6 {
    animation-delay: -.8s
}

.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem10 {
    bottom: 0;
    right: 0;
    animation-delay: -.7s
}

.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem3 {
    animation-delay: -.6s
}

.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem7 {
    animation-delay: -.5s
}

.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem11 {
    bottom: 0;
    left: 0;
    animation-delay: -.4s
}

.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem4 {
    animation-delay: -.3s
}

.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem8 {
    animation-delay: -.2s
}

.waitMe_container .waitMe_progress.roundBounce .waitMe_progress_elem12 {
    top: 0;
    left: 0;
    animation-delay: -.1s
}

@keyframes roundBounce {
    0%,100%,80% {
        transform: scale(0)
    }

    40% {
        transform: scale(1)
    }
}

.waitMe_container .waitMe_progress.win8 {
    width: 40px;
    height: 40px;
    margin: auto
}

.waitMe_container .waitMe_progress.win8>div {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    transform: rotate(225deg);
    animation: win8 5.5s infinite
}

.waitMe_container .waitMe_progress.win8>div>div {
    width: 15%;
    height: 15%;
    border-radius: 50%;
    position: absolute
}

.waitMe_container .waitMe_progress.win8 .waitMe_progress_elem2 {
    animation-delay: .24s
}

.waitMe_container .waitMe_progress.win8 .waitMe_progress_elem3 {
    animation-delay: .48s
}

.waitMe_container .waitMe_progress.win8 .waitMe_progress_elem4 {
    animation-delay: .72s
}

.waitMe_container .waitMe_progress.win8 .waitMe_progress_elem5 {
    animation-delay: .96s
}

@keyframes win8 {
    0% {
        transform: rotate(225deg);
        animation-timing-function: ease-out
    }

    7% {
        opacity: 1;
        transform: rotate(345deg);
        animation-timing-function: linear
    }

    30% {
        transform: rotate(455deg);
        animation-timing-function: ease-in-out
    }

    39% {
        transform: rotate(690deg);
        animation-timing-function: linear
    }

    70% {
        opacity: 1;
        transform: rotate(815deg);
        animation-timing-function: ease-out
    }

    75% {
        transform: rotate(945deg);
        animation-timing-function: ease-out
    }

    100%,76% {
        opacity: 0;
        transform: rotate(945deg)
    }
}

.waitMe_container .waitMe_progress.win8_linear {
    margin: auto;
    width: 150px;
    height: 6px
}

.waitMe_container .waitMe_progress.win8_linear>div {
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    animation: win8_linear 3s infinite
}

.waitMe_container .waitMe_progress.win8_linear>div>div {
    width: 4%;
    height: 100%;
    border-radius: 50%
}

.waitMe_container .waitMe_progress.win8_linear .waitMe_progress_elem2 {
    animation-delay: .3s
}

.waitMe_container .waitMe_progress.win8_linear .waitMe_progress_elem3 {
    animation-delay: .6s
}

.waitMe_container .waitMe_progress.win8_linear .waitMe_progress_elem4 {
    animation-delay: .9s
}

.waitMe_container .waitMe_progress.win8_linear .waitMe_progress_elem5 {
    animation-delay: 1.2s
}

@keyframes win8_linear {
    0%,100% {
        transform: translateX(0);
        animation-timing-function: ease-out
    }

    10% {
        opacity: 1;
        transform: translateX(33.333%);
        animation-timing-function: linear
    }

    50% {
        opacity: 1;
        transform: translateX(53.333%);
        animation-timing-function: ease-in-out
    }

    60% {
        opacity: 0;
        transform: translateX(86.666%)
    }
}

.waitMe_container .waitMe_progress.ios {
    margin: auto;
    width: 40px;
    height: 40px
}

.waitMe_container .waitMe_progress.ios>div {
    width: 10%;
    height: 26%;
    position: absolute;
    left: 44.5%;
    top: 37%;
    opacity: 0;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    animation: ios 1s infinite linear
}

.waitMe_container .waitMe_progress.ios .waitMe_progress_elem1 {
    transform: rotate(0) translate(0, -142%);
    animation-delay: 0s
}

.waitMe_container .waitMe_progress.ios .waitMe_progress_elem2 {
    transform: rotate(30deg) translate(0, -142%);
    animation-delay: -.9167s
}

.waitMe_container .waitMe_progress.ios .waitMe_progress_elem3 {
    transform: rotate(60deg) translate(0, -142%);
    animation-delay: -.833s
}

.waitMe_container .waitMe_progress.ios .waitMe_progress_elem4 {
    transform: rotate(90deg) translate(0, -142%);
    animation-delay: -.75s
}

.waitMe_container .waitMe_progress.ios .waitMe_progress_elem5 {
    transform: rotate(120deg) translate(0, -142%);
    animation-delay: -.667s
}

.waitMe_container .waitMe_progress.ios .waitMe_progress_elem6 {
    transform: rotate(150deg) translate(0, -142%);
    animation-delay: -.5833s
}

.waitMe_container .waitMe_progress.ios .waitMe_progress_elem7 {
    transform: rotate(180deg) translate(0, -142%);
    animation-delay: -.5s
}

.waitMe_container .waitMe_progress.ios .waitMe_progress_elem8 {
    transform: rotate(210deg) translate(0, -142%);
    animation-delay: -.41667s
}

.waitMe_container .waitMe_progress.ios .waitMe_progress_elem9 {
    transform: rotate(240deg) translate(0, -142%);
    animation-delay: -.333s
}

.waitMe_container .waitMe_progress.ios .waitMe_progress_elem10 {
    transform: rotate(270deg) translate(0, -142%);
    animation-delay: -.25s
}

.waitMe_container .waitMe_progress.ios .waitMe_progress_elem11 {
    transform: rotate(300deg) translate(0, -142%);
    animation-delay: -.1667s
}

.waitMe_container .waitMe_progress.ios .waitMe_progress_elem12 {
    transform: rotate(330deg) translate(0, -142%);
    animation-delay: -.0833s
}

@keyframes ios {
    0% {
        opacity: 1
    }

    100% {
        opacity: .25
    }
}

.waitMe_container .waitMe_progress.facebook {
    margin: auto
}

.waitMe_container .waitMe_progress.facebook>div {
    width: 6px;
    height: 25px;
    margin-left: 3px;
    border-radius: 20px;
    transform: scaleY(0.7);
    opacity: .1;
    animation: facebook 1.3s infinite ease-in-out
}

.waitMe_container .waitMe_progress.facebook>.waitMe_progress_elem1 {
    animation-delay: .2s;
    transform: scaleY(0.7)
}

.waitMe_container .waitMe_progress.facebook>.waitMe_progress_elem2 {
    animation-delay: .4s;
    transform: scaleY(0.85)
}

.waitMe_container .waitMe_progress.facebook>.waitMe_progress_elem3 {
    animation-delay: .6s;
    transform: scaleY(1)
}

@keyframes facebook {
    0%,100% {
        transform: scaleY(0.7);
        opacity: .1
    }

    50% {
        transform: scaleY(1);
        opacity: 1
    }
}

.waitMe_container .waitMe_progress.rotation>div {
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 100%;
    border-width: 6px;
    border-style: solid;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    animation: rotation 1s infinite linear
}

@keyframes rotation {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.waitMe_container .waitMe_progress.timer {
    width: 40px;
    height: 40px;
    margin: auto;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    text-indent: -9999px
}

.waitMe_container .waitMe_progress.timer>.waitMe_progress_elem1,.waitMe_container .waitMe_progress.timer>.waitMe_progress_elem2 {
    border-radius: 3px;
    position: absolute;
    width: 2px;
    height: 48%;
    left: 50%;
    top: 50%;
    margin-left: -1px;
    margin-top: -1px;
    animation: timer 1.25s infinite linear;
    transform-origin: 1px 1px
}

.waitMe_container .waitMe_progress.timer>.waitMe_progress_elem2 {
    height: 40%;
    animation: timer 15s infinite linear
}

@keyframes timer {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.waitMe_container .waitMe_progress.pulse {
    width: 30px;
    height: 30px;
    margin: auto;
    position: relative
}

.waitMe_container .waitMe_progress.pulse>div {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    animation: pulsate 1s infinite ease-out
}

@keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        transform: scale(1.2);
        opacity: 0
    }
}

.waitMe_container .waitMe_progress.progressBar {
    width: 200px;
    height: 20px;
    margin: auto;
    background: rgba(0,0,0,0.1);
    padding: 5px;
    border-radius: 20px;
    line-height: 0;
    max-width: 100%
}

.waitMe_container .waitMe_progress.progressBar>div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    background-size: 50px 50px;
    box-shadow: inset 0 2px 9px rgba(255,255,255,0.3),inset 0 -2px 6px rgba(0,0,0,0.4);
    background-image: linear-gradient(-45deg, rgba(240,240,240,0.4) 26%, transparent 25%, transparent 51%, rgba(240,240,240,0.4) 50%, rgba(240,240,240,0.4) 76%, transparent 75%, transparent);
    animation: progressBar 2s linear infinite
}

@keyframes progressBar {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 50px 50px
    }
}

.waitMe_container .waitMe_progress.bouncePulse>div {
    width: 20px;
    height: 20px;
    margin-right: 1px;
    display: inline-block;
    border-radius: 50%;
    transform: scale(0.5);
    animation: bouncePulse 1.4s infinite ease-in-out
}

.waitMe_container .waitMe_progress.bouncePulse>.waitMe_progress_elem1,.waitMe_container .waitMe_progress.bouncePulse>.waitMe_progress_elem3 {
    animation-delay: .1s
}

.waitMe_container .waitMe_progress.bouncePulse>.waitMe_progress_elem2 {
    animation-delay: .4s
}

@keyframes bouncePulse {
    0%,100%,80% {
        transform: scale(0.5)
    }

    40% {
        transform: scale(1)
    }
}

.glide {
    position: relative;
    width: 100%;
    box-sizing: border-box
}

.glide * {
    box-sizing: inherit
}

.glide__track {
    overflow: hidden
}

.glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform
}

.glide__slides--dragging {
    user-select: none
}

.glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent
}

.glide__slide a {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.glide__arrows {
    -webkit-touch-callout: none;
    user-select: none
}

.glide__bullets {
    -webkit-touch-callout: none;
    user-select: none
}

.glide--rtl {
    direction: rtl
}

/*!
 * Fotorama 4.6.4 | http://fotorama.io/license/
 */
.fotorama__arr:focus:after,.fotorama__fullscreen-icon:focus:after,.fotorama__html,.fotorama__img,.fotorama__nav__frame:focus .fotorama__dot:after,.fotorama__nav__frame:focus .fotorama__thumb:after,.fotorama__stage__frame,.fotorama__stage__shaft,.fotorama__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0
}

.fotorama--fullscreen,.fotorama__img {
    max-width: 99999px !important;
    max-height: 99999px !important;
    min-width: 0 !important;
    min-height: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 0 !important
}

.fotorama__wrap .fotorama__grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab
}

.fotorama__grabbing * {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -o-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing
}

.fotorama__spinner {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important
}

.fotorama__wrap--css3 .fotorama__arr,.fotorama__wrap--css3 .fotorama__fullscreen-icon,.fotorama__wrap--css3 .fotorama__nav__shaft,.fotorama__wrap--css3 .fotorama__stage__shaft,.fotorama__wrap--css3 .fotorama__thumb-border,.fotorama__wrap--css3 .fotorama__video-close,.fotorama__wrap--css3 .fotorama__video-play {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.fotorama__caption,.fotorama__nav:after,.fotorama__nav:before,.fotorama__stage:after,.fotorama__stage:before,.fotorama__wrap--css3 .fotorama__html,.fotorama__wrap--css3 .fotorama__nav,.fotorama__wrap--css3 .fotorama__spinner,.fotorama__wrap--css3 .fotorama__stage,.fotorama__wrap--css3 .fotorama__stage .fotorama__img,.fotorama__wrap--css3 .fotorama__stage__frame {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.fotorama__arr:focus,.fotorama__fullscreen-icon:focus,.fotorama__nav__frame {
    outline: 0
}

.fotorama__arr:focus:after,.fotorama__fullscreen-icon:focus:after,.fotorama__nav__frame:focus .fotorama__dot:after,.fotorama__nav__frame:focus .fotorama__thumb:after {
    content: '';
    border-radius: inherit;
    background-color: rgba(0,175,234,0.5)
}

.fotorama__wrap--video .fotorama__stage,.fotorama__wrap--video .fotorama__stage__frame--video,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img,.fotorama__wrap--video .fotorama__stage__shaft {
    -webkit-transform: none !important;
    transform: none !important
}

.fotorama__wrap--css3 .fotorama__nav__shaft,.fotorama__wrap--css3 .fotorama__stage__shaft,.fotorama__wrap--css3 .fotorama__thumb-border {
    transition-property: -webkit-transform,width;
    transition-property: transform,width;
    transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1);
    transition-duration: 0ms
}

.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__no-select,.fotorama__video-close,.fotorama__video-play,.fotorama__wrap {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.fotorama__select {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text
}

.fotorama__nav,.fotorama__nav__frame {
    margin: auto;
    padding: 0
}

.fotorama__caption__wrap,.fotorama__nav__frame,.fotorama__nav__shaft {
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom:1}

.fotorama__nav__frame,.fotorama__thumb-border {
    box-sizing: content-box
}

.fotorama__caption__wrap {
    box-sizing: border-box
}

.fotorama--hidden,.fotorama__load {
    position: absolute;
    left: -99999px;
    top: -99999px;
    z-index: -1
}

.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__nav,.fotorama__nav__frame,.fotorama__nav__shaft,.fotorama__stage__frame,.fotorama__stage__shaft,.fotorama__video-close,.fotorama__video-play {
    -webkit-tap-highlight-color: transparent
}

.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play {
    background: url(https://mymento.com.br/assets/fotorama-b94efaf1044e2ba8fc2fb41f5ab2022410086fe50b729b8c95321573b88e8a78.png) no-repeat
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 2dppx) {
    .fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play {
        background:url(https://mymento.com.br/assets/fotorama@2x-3beccbcc8ad8bd0a0e13cba6c0caf0e3a1ffed1cb6408dfb1a68a768e787d2c4.png) 0 0/96px 160px no-repeat
    }
}

.fotorama__thumb {
    background-color: #7f7f7f;
    background-color: rgba(127,127,127,0.2)
}

@media print {
    .fotorama__arr,.fotorama__fullscreen-icon,.fotorama__thumb-border,.fotorama__video-close,.fotorama__video-play {
        background: none !important
    }
}

.fotorama {
    min-width: 1px;
    overflow: hidden
}

.fotorama:not(.fotorama--unobtrusive)>*:not(:first-child) {
    display: none
}

.fullscreen {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    background: #000
}

.fotorama--fullscreen {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    float: none !important;
    z-index: 2147483647 !important;
    background: #000;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important
}

.fotorama--fullscreen .fotorama__nav,.fotorama--fullscreen .fotorama__stage {
    background: #000
}

.fotorama__wrap {
    -webkit-text-size-adjust: 100%;
    position: relative;
    direction: ltr;
    z-index: 0
}

.fotorama__wrap--rtl .fotorama__stage__frame {
    direction: rtl
}

.fotorama__nav,.fotorama__stage {
    overflow: hidden;
    position: relative;
    max-width: 100%
}

.fotorama__wrap--pan-y {
    -ms-touch-action: pan-y
}

.fotorama__wrap .fotorama__pointer {
    cursor: pointer
}

.fotorama__wrap--slide .fotorama__stage__frame {
    opacity: 1 !important
}

.fotorama__stage__frame {
    overflow: hidden
}

.fotorama__stage__frame.fotorama__active {
    z-index: 8
}

.fotorama__wrap--fade .fotorama__stage__frame {
    display: none
}

.fotorama__wrap--fade .fotorama__fade-front,.fotorama__wrap--fade .fotorama__fade-rear,.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active {
    display: block;
    left: 0;
    top: 0
}

.fotorama__wrap--fade .fotorama__fade-front {
    z-index: 8
}

.fotorama__wrap--fade .fotorama__fade-rear {
    z-index: 7
}

.fotorama__wrap--fade .fotorama__fade-rear.fotorama__active {
    z-index: 9
}

.fotorama__wrap--fade .fotorama__stage .fotorama__shadow {
    display: none
}

.fotorama__img {
    -ms-filter: "alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    border: none !important
}

.fotorama__error .fotorama__img,.fotorama__loaded .fotorama__img {
    -ms-filter: "alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1
}

.fotorama--fullscreen .fotorama__loaded--full .fotorama__img,.fotorama__img--full {
    display: none
}

.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full {
    display: block
}

.fotorama__wrap--only-active .fotorama__nav,.fotorama__wrap--only-active .fotorama__stage {
    max-width: 99999px !important
}

.fotorama__wrap--only-active .fotorama__stage__frame {
    visibility: hidden
}

.fotorama__wrap--only-active .fotorama__stage__frame.fotorama__active {
    visibility: visible
}

.fotorama__nav {
    font-size: 0;
    line-height: 0;
    text-align: center;
    display: none;
    white-space: nowrap;
    z-index: 5
}

.fotorama__nav__shaft {
    position: relative;
    left: 0;
    top: 0;
    text-align: left
}

.fotorama__nav__frame {
    position: relative;
    cursor: pointer
}

.fotorama__nav--dots {
    display: block
}

.fotorama__nav--dots .fotorama__nav__frame {
    width: 18px;
    height: 30px
}

.fotorama__nav--dots .fotorama__nav__frame--thumb,.fotorama__nav--dots .fotorama__thumb-border {
    display: none
}

.fotorama__nav--thumbs {
    display: block
}

.fotorama__nav--thumbs .fotorama__nav__frame {
    padding-left: 0 !important
}

.fotorama__nav--thumbs .fotorama__nav__frame:last-child {
    padding-right: 0 !important
}

.fotorama__nav--thumbs .fotorama__nav__frame--dot {
    display: none
}

.fotorama__dot {
    display: block;
    width: 4px;
    height: 4px;
    position: relative;
    top: 12px;
    left: 6px;
    border-radius: 6px;
    border: 1px solid #7f7f7f
}

.fotorama__nav__frame:focus .fotorama__dot:after {
    padding: 1px;
    top: -1px;
    left: -1px
}

.fotorama__nav__frame.fotorama__active .fotorama__dot {
    width: 0;
    height: 0;
    border-width: 3px
}

.fotorama__nav__frame.fotorama__active .fotorama__dot:after {
    padding: 3px;
    top: -3px;
    left: -3px
}

.fotorama__thumb {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%
}

.fotorama__nav__frame:focus .fotorama__thumb {
    z-index: 2
}

.fotorama__thumb-border {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    border-style: solid;
    border-color: #00afea;
    background-image: linear-gradient(to bottom right, rgba(255,255,255,0.25), rgba(64,64,64,0.1))
}

.fotorama__caption {
    position: absolute;
    z-index: 12;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Helvetica Neue',Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #000
}

.fotorama__caption a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid;
    border-color: rgba(0,0,0,0.5)
}

.fotorama__caption a:hover {
    color: #333;
    border-color: rgba(51,51,51,0.5)
}

.fotorama__wrap--rtl .fotorama__caption {
    left: auto;
    right: 0
}

.fotorama__wrap--no-captions .fotorama__caption,.fotorama__wrap--video .fotorama__caption {
    display: none
}

.fotorama__caption__wrap {
    background-color: #fff;
    background-color: rgba(255,255,255,0.9);
    padding: 5px 10px
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.fotorama__wrap--css3 .fotorama__spinner {
    -webkit-animation: spinner 24s infinite linear;
    animation: spinner 24s infinite linear
}

.fotorama__wrap--css3 .fotorama__html,.fotorama__wrap--css3 .fotorama__stage .fotorama__img {
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: .3s
}

.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img {
    -ms-filter: "alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0
}

.fotorama__select {
    cursor: auto
}

.fotorama__video {
    top: 32px;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 10
}

@-moz-document url-prefix() {
    .fotorama__active {
        box-shadow: 0 0 0 transparent
    }
}

.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play {
    position: absolute;
    z-index: 11;
    cursor: pointer
}

.fotorama__arr {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    margin-top: -16px
}

.fotorama__arr--prev {
    left: 2px;
    background-position: 0 0
}

.fotorama__arr--next {
    right: 2px;
    background-position: -32px 0
}

.fotorama__arr--disabled {
    pointer-events: none;
    cursor: default;
    *display: none;
    opacity: .1
}

.fotorama__fullscreen-icon {
    width: 32px;
    height: 32px;
    top: 2px;
    right: 2px;
    background-position: 0 -32px;
    z-index: 20
}

.fotorama__arr:focus,.fotorama__fullscreen-icon:focus {
    border-radius: 50%
}

.fotorama--fullscreen .fotorama__fullscreen-icon {
    background-position: -32px -32px
}

.fotorama__video-play {
    width: 96px;
    height: 96px;
    left: 50%;
    top: 50%;
    margin-left: -48px;
    margin-top: -48px;
    background-position: 0 -64px;
    opacity: 0
}

.fotorama__wrap--css2 .fotorama__video-play,.fotorama__wrap--video .fotorama__stage .fotorama__video-play {
    display: none
}

.fotorama__error .fotorama__video-play,.fotorama__loaded .fotorama__video-play,.fotorama__nav__frame .fotorama__video-play {
    opacity: 1;
    display: block
}

.fotorama__nav__frame .fotorama__video-play {
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
    background-position: -64px -32px
}

.fotorama__video-close {
    width: 32px;
    height: 32px;
    top: 0;
    right: 0;
    background-position: -64px 0;
    z-index: 20;
    opacity: 0
}

.fotorama__wrap--css2 .fotorama__video-close {
    display: none
}

.fotorama__wrap--css3 .fotorama__video-close {
    -webkit-transform: translate3d(32px, -32px, 0);
    transform: translate3d(32px, -32px, 0)
}

.fotorama__wrap--video .fotorama__video-close {
    display: block;
    opacity: 1
}

.fotorama__wrap--css3.fotorama__wrap--video .fotorama__video-close {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
    opacity: 0
}

.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus {
    opacity: 1
}

.fotorama__wrap--video .fotorama__arr,.fotorama__wrap--video .fotorama__fullscreen-icon {
    opacity: 0 !important
}

.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
    display: none
}

.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus {
    display: block
}

.fotorama__wrap--css2.fotorama__wrap--video .fotorama__arr,.fotorama__wrap--css2.fotorama__wrap--video .fotorama__fullscreen-icon {
    display: none !important
}

.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:not(:focus) {
    -webkit-transform: translate3d(32px, -32px, 0);
    transform: translate3d(32px, -32px, 0)
}

.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus) {
    -webkit-transform: translate3d(-48px, 0, 0);
    transform: translate3d(-48px, 0, 0)
}

.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus) {
    -webkit-transform: translate3d(48px, 0, 0);
    transform: translate3d(48px, 0, 0)
}

.fotorama__wrap--css3.fotorama__wrap--video .fotorama__fullscreen-icon {
    -webkit-transform: translate3d(32px, -32px, 0) !important;
    transform: translate3d(32px, -32px, 0) !important
}

.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--prev {
    -webkit-transform: translate3d(-48px, 0, 0) !important;
    transform: translate3d(-48px, 0, 0) !important
}

.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--next {
    -webkit-transform: translate3d(48px, 0, 0) !important;
    transform: translate3d(48px, 0, 0) !important
}

.fotorama__wrap--css3 .fotorama__arr:not(:focus),.fotorama__wrap--css3 .fotorama__fullscreen-icon:not(:focus),.fotorama__wrap--css3 .fotorama__video-close:not(:focus),.fotorama__wrap--css3 .fotorama__video-play:not(:focus) {
    transition-property: -webkit-transform,opacity;
    transition-property: transform,opacity;
    transition-duration: .3s
}

.fotorama__nav:after,.fotorama__nav:before,.fotorama__stage:after,.fotorama__stage:before {
    content: "";
    display: block;
    position: absolute;
    text-decoration: none;
    top: 0;
    bottom: 0;
    width: 10px;
    height: auto;
    z-index: 10;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: 1px 100%,5px 100%
}

.fotorama__nav:before,.fotorama__stage:before {
    background-image: linear-gradient(transparent, rgba(0,0,0,0.2) 25%, rgba(0,0,0,0.3) 75%, transparent),radial-gradient(farthest-side at 0 50%, rgba(0,0,0,0.4), transparent);
    background-position: 0 0,0 0;
    left: -10px
}

.fotorama__nav.fotorama__shadows--left:before,.fotorama__stage.fotorama__shadows--left:before {
    left: 0
}

.fotorama__nav:after,.fotorama__stage:after {
    background-image: linear-gradient(transparent, rgba(0,0,0,0.2) 25%, rgba(0,0,0,0.3) 75%, transparent),radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,0.4), transparent);
    background-position: 100% 0,100% 0;
    right: -10px
}

.fotorama__nav.fotorama__shadows--right:after,.fotorama__stage.fotorama__shadows--right:after {
    right: 0
}

.fotorama--fullscreen .fotorama__nav:after,.fotorama--fullscreen .fotorama__nav:before,.fotorama--fullscreen .fotorama__stage:after,.fotorama--fullscreen .fotorama__stage:before,.fotorama__wrap--fade .fotorama__stage:after,.fotorama__wrap--fade .fotorama__stage:before,.fotorama__wrap--no-shadows .fotorama__nav:after,.fotorama__wrap--no-shadows .fotorama__nav:before,.fotorama__wrap--no-shadows .fotorama__stage:after,.fotorama__wrap--no-shadows .fotorama__stage:before {
    display: none
}

.jq-ry-container {
    position: relative;
    padding: 0 5px;
    line-height: 0;
    display: block;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    direction: ltr
}

.jq-ry-container[readonly=readonly] {
    cursor: default
}

.jq-ry-container>.jq-ry-group-wrapper {
    position: relative;
    width: 100%
}

.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group {
    position: relative;
    line-height: 0;
    z-index: 10;
    white-space: nowrap
}

.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg {
    display: inline-block
}

.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group.jq-ry-normal-group {
    width: 100%
}

.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group.jq-ry-rated-group {
    width: 0;
    z-index: 11;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden
}

.iti {
    position: relative;
    display: inline-block
}

.iti * {
    box-sizing: border-box;
    -moz-box-sizing: border-box
}

.iti__hide {
    display: none
}

.iti__v-hide {
    visibility: hidden
}

.iti input,.iti input[type=tel],.iti input[type=text] {
    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-right: 36px;
    margin-right: 0
}

.iti__flag-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 1px
}

.iti__selected-flag {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 6px 0 8px
}

.iti__arrow {
    margin-left: 6px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555
}

.iti__arrow--up {
    border-top: none;
    border-bottom: 4px solid #555
}

.iti__country-list {
    position: absolute;
    z-index: 2;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0 -1px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    background-color: #fff;
    border: 1px solid #ccc;
    white-space: nowrap;
    max-height: 200px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

.iti__country-list--dropup {
    bottom: 100%;
    margin-bottom: -1px
}

@media (max-width: 500px) {
    .iti__country-list {
        white-space:normal
    }
}

.iti__flag-box {
    display: inline-block;
    width: 20px
}

.iti__divider {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc
}

.iti__country {
    padding: 5px 10px;
    outline: 0
}

.iti__dial-code {
    color: #999
}

.iti__country.iti__highlight {
    background-color: rgba(0,0,0,0.05)
}

.iti__country-name,.iti__dial-code,.iti__flag-box {
    vertical-align: middle
}

.iti__country-name,.iti__flag-box {
    margin-right: 6px
}

.iti--allow-dropdown input,.iti--allow-dropdown input[type=tel],.iti--allow-dropdown input[type=text],.iti--separate-dial-code input,.iti--separate-dial-code input[type=tel],.iti--separate-dial-code input[type=text] {
    padding-right: 6px;
    padding-left: 52px;
    margin-left: 0
}

.iti--allow-dropdown .iti__flag-container,.iti--separate-dial-code .iti__flag-container {
    right: auto;
    left: 0
}

.iti--allow-dropdown .iti__flag-container:hover {
    cursor: pointer
}

.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
    background-color: rgba(0,0,0,0.05)
}

.iti--allow-dropdown input[disabled]+.iti__flag-container:hover,.iti--allow-dropdown input[readonly]+.iti__flag-container:hover {
    cursor: default
}

.iti--allow-dropdown input[disabled]+.iti__flag-container:hover .iti__selected-flag,.iti--allow-dropdown input[readonly]+.iti__flag-container:hover .iti__selected-flag {
    background-color: transparent
}

.iti--separate-dial-code .iti__selected-flag {
    background-color: rgba(0,0,0,0.05)
}

.iti--separate-dial-code .iti__selected-dial-code {
    margin-left: 6px
}

.iti--container {
    position: absolute;
    top: -1000px;
    left: -1000px;
    z-index: 1060;
    padding: 1px
}

.iti--container:hover {
    cursor: pointer
}

.iti-mobile .iti--container {
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    position: fixed
}

.iti-mobile .iti__country-list {
    max-height: 100%;
    width: 100%
}

.iti-mobile .iti__country {
    padding: 10px 10px;
    line-height: 1.5em
}

.iti__flag {
    width: 20px
}

.iti__flag.iti__be {
    width: 18px
}

.iti__flag.iti__ch {
    width: 15px
}

.iti__flag.iti__mc {
    width: 19px
}

.iti__flag.iti__ne {
    width: 18px
}

.iti__flag.iti__np {
    width: 13px
}

.iti__flag.iti__va {
    width: 15px
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
        background-size:5652px 15px
    }
}

.iti__flag.iti__ac {
    height: 10px;
    background-position: 0 0
}

.iti__flag.iti__ad {
    height: 14px;
    background-position: -22px 0
}

.iti__flag.iti__ae {
    height: 10px;
    background-position: -44px 0
}

.iti__flag.iti__af {
    height: 14px;
    background-position: -66px 0
}

.iti__flag.iti__ag {
    height: 14px;
    background-position: -88px 0
}

.iti__flag.iti__ai {
    height: 10px;
    background-position: -110px 0
}

.iti__flag.iti__al {
    height: 15px;
    background-position: -132px 0
}

.iti__flag.iti__am {
    height: 10px;
    background-position: -154px 0
}

.iti__flag.iti__ao {
    height: 14px;
    background-position: -176px 0
}

.iti__flag.iti__aq {
    height: 14px;
    background-position: -198px 0
}

.iti__flag.iti__ar {
    height: 13px;
    background-position: -220px 0
}

.iti__flag.iti__as {
    height: 10px;
    background-position: -242px 0
}

.iti__flag.iti__at {
    height: 14px;
    background-position: -264px 0
}

.iti__flag.iti__au {
    height: 10px;
    background-position: -286px 0
}

.iti__flag.iti__aw {
    height: 14px;
    background-position: -308px 0
}

.iti__flag.iti__ax {
    height: 13px;
    background-position: -330px 0
}

.iti__flag.iti__az {
    height: 10px;
    background-position: -352px 0
}

.iti__flag.iti__ba {
    height: 10px;
    background-position: -374px 0
}

.iti__flag.iti__bb {
    height: 14px;
    background-position: -396px 0
}

.iti__flag.iti__bd {
    height: 12px;
    background-position: -418px 0
}

.iti__flag.iti__be {
    height: 15px;
    background-position: -440px 0
}

.iti__flag.iti__bf {
    height: 14px;
    background-position: -460px 0
}

.iti__flag.iti__bg {
    height: 12px;
    background-position: -482px 0
}

.iti__flag.iti__bh {
    height: 12px;
    background-position: -504px 0
}

.iti__flag.iti__bi {
    height: 12px;
    background-position: -526px 0
}

.iti__flag.iti__bj {
    height: 14px;
    background-position: -548px 0
}

.iti__flag.iti__bl {
    height: 14px;
    background-position: -570px 0
}

.iti__flag.iti__bm {
    height: 10px;
    background-position: -592px 0
}

.iti__flag.iti__bn {
    height: 10px;
    background-position: -614px 0
}

.iti__flag.iti__bo {
    height: 14px;
    background-position: -636px 0
}

.iti__flag.iti__bq {
    height: 14px;
    background-position: -658px 0
}

.iti__flag.iti__br {
    height: 14px;
    background-position: -680px 0
}

.iti__flag.iti__bs {
    height: 10px;
    background-position: -702px 0
}

.iti__flag.iti__bt {
    height: 14px;
    background-position: -724px 0
}

.iti__flag.iti__bv {
    height: 15px;
    background-position: -746px 0
}

.iti__flag.iti__bw {
    height: 14px;
    background-position: -768px 0
}

.iti__flag.iti__by {
    height: 10px;
    background-position: -790px 0
}

.iti__flag.iti__bz {
    height: 14px;
    background-position: -812px 0
}

.iti__flag.iti__ca {
    height: 10px;
    background-position: -834px 0
}

.iti__flag.iti__cc {
    height: 10px;
    background-position: -856px 0
}

.iti__flag.iti__cd {
    height: 15px;
    background-position: -878px 0
}

.iti__flag.iti__cf {
    height: 14px;
    background-position: -900px 0
}

.iti__flag.iti__cg {
    height: 14px;
    background-position: -922px 0
}

.iti__flag.iti__ch {
    height: 15px;
    background-position: -944px 0
}

.iti__flag.iti__ci {
    height: 14px;
    background-position: -961px 0
}

.iti__flag.iti__ck {
    height: 10px;
    background-position: -983px 0
}

.iti__flag.iti__cl {
    height: 14px;
    background-position: -1005px 0
}

.iti__flag.iti__cm {
    height: 14px;
    background-position: -1027px 0
}

.iti__flag.iti__cn {
    height: 14px;
    background-position: -1049px 0
}

.iti__flag.iti__co {
    height: 14px;
    background-position: -1071px 0
}

.iti__flag.iti__cp {
    height: 14px;
    background-position: -1093px 0
}

.iti__flag.iti__cr {
    height: 12px;
    background-position: -1115px 0
}

.iti__flag.iti__cu {
    height: 10px;
    background-position: -1137px 0
}

.iti__flag.iti__cv {
    height: 12px;
    background-position: -1159px 0
}

.iti__flag.iti__cw {
    height: 14px;
    background-position: -1181px 0
}

.iti__flag.iti__cx {
    height: 10px;
    background-position: -1203px 0
}

.iti__flag.iti__cy {
    height: 14px;
    background-position: -1225px 0
}

.iti__flag.iti__cz {
    height: 14px;
    background-position: -1247px 0
}

.iti__flag.iti__de {
    height: 12px;
    background-position: -1269px 0
}

.iti__flag.iti__dg {
    height: 10px;
    background-position: -1291px 0
}

.iti__flag.iti__dj {
    height: 14px;
    background-position: -1313px 0
}

.iti__flag.iti__dk {
    height: 15px;
    background-position: -1335px 0
}

.iti__flag.iti__dm {
    height: 10px;
    background-position: -1357px 0
}

.iti__flag.iti__do {
    height: 14px;
    background-position: -1379px 0
}

.iti__flag.iti__dz {
    height: 14px;
    background-position: -1401px 0
}

.iti__flag.iti__ea {
    height: 14px;
    background-position: -1423px 0
}

.iti__flag.iti__ec {
    height: 14px;
    background-position: -1445px 0
}

.iti__flag.iti__ee {
    height: 13px;
    background-position: -1467px 0
}

.iti__flag.iti__eg {
    height: 14px;
    background-position: -1489px 0
}

.iti__flag.iti__eh {
    height: 10px;
    background-position: -1511px 0
}

.iti__flag.iti__er {
    height: 10px;
    background-position: -1533px 0
}

.iti__flag.iti__es {
    height: 14px;
    background-position: -1555px 0
}

.iti__flag.iti__et {
    height: 10px;
    background-position: -1577px 0
}

.iti__flag.iti__eu {
    height: 14px;
    background-position: -1599px 0
}

.iti__flag.iti__fi {
    height: 12px;
    background-position: -1621px 0
}

.iti__flag.iti__fj {
    height: 10px;
    background-position: -1643px 0
}

.iti__flag.iti__fk {
    height: 10px;
    background-position: -1665px 0
}

.iti__flag.iti__fm {
    height: 11px;
    background-position: -1687px 0
}

.iti__flag.iti__fo {
    height: 15px;
    background-position: -1709px 0
}

.iti__flag.iti__fr {
    height: 14px;
    background-position: -1731px 0
}

.iti__flag.iti__ga {
    height: 15px;
    background-position: -1753px 0
}

.iti__flag.iti__gb {
    height: 10px;
    background-position: -1775px 0
}

.iti__flag.iti__gd {
    height: 12px;
    background-position: -1797px 0
}

.iti__flag.iti__ge {
    height: 14px;
    background-position: -1819px 0
}

.iti__flag.iti__gf {
    height: 14px;
    background-position: -1841px 0
}

.iti__flag.iti__gg {
    height: 14px;
    background-position: -1863px 0
}

.iti__flag.iti__gh {
    height: 14px;
    background-position: -1885px 0
}

.iti__flag.iti__gi {
    height: 10px;
    background-position: -1907px 0
}

.iti__flag.iti__gl {
    height: 14px;
    background-position: -1929px 0
}

.iti__flag.iti__gm {
    height: 14px;
    background-position: -1951px 0
}

.iti__flag.iti__gn {
    height: 14px;
    background-position: -1973px 0
}

.iti__flag.iti__gp {
    height: 14px;
    background-position: -1995px 0
}

.iti__flag.iti__gq {
    height: 14px;
    background-position: -2017px 0
}

.iti__flag.iti__gr {
    height: 14px;
    background-position: -2039px 0
}

.iti__flag.iti__gs {
    height: 10px;
    background-position: -2061px 0
}

.iti__flag.iti__gt {
    height: 13px;
    background-position: -2083px 0
}

.iti__flag.iti__gu {
    height: 11px;
    background-position: -2105px 0
}

.iti__flag.iti__gw {
    height: 10px;
    background-position: -2127px 0
}

.iti__flag.iti__gy {
    height: 12px;
    background-position: -2149px 0
}

.iti__flag.iti__hk {
    height: 14px;
    background-position: -2171px 0
}

.iti__flag.iti__hm {
    height: 10px;
    background-position: -2193px 0
}

.iti__flag.iti__hn {
    height: 10px;
    background-position: -2215px 0
}

.iti__flag.iti__hr {
    height: 10px;
    background-position: -2237px 0
}

.iti__flag.iti__ht {
    height: 12px;
    background-position: -2259px 0
}

.iti__flag.iti__hu {
    height: 10px;
    background-position: -2281px 0
}

.iti__flag.iti__ic {
    height: 14px;
    background-position: -2303px 0
}

.iti__flag.iti__id {
    height: 14px;
    background-position: -2325px 0
}

.iti__flag.iti__ie {
    height: 10px;
    background-position: -2347px 0
}

.iti__flag.iti__il {
    height: 15px;
    background-position: -2369px 0
}

.iti__flag.iti__im {
    height: 10px;
    background-position: -2391px 0
}

.iti__flag.iti__in {
    height: 14px;
    background-position: -2413px 0
}

.iti__flag.iti__io {
    height: 10px;
    background-position: -2435px 0
}

.iti__flag.iti__iq {
    height: 14px;
    background-position: -2457px 0
}

.iti__flag.iti__ir {
    height: 12px;
    background-position: -2479px 0
}

.iti__flag.iti__is {
    height: 15px;
    background-position: -2501px 0
}

.iti__flag.iti__it {
    height: 14px;
    background-position: -2523px 0
}

.iti__flag.iti__je {
    height: 12px;
    background-position: -2545px 0
}

.iti__flag.iti__jm {
    height: 10px;
    background-position: -2567px 0
}

.iti__flag.iti__jo {
    height: 10px;
    background-position: -2589px 0
}

.iti__flag.iti__jp {
    height: 14px;
    background-position: -2611px 0
}

.iti__flag.iti__ke {
    height: 14px;
    background-position: -2633px 0
}

.iti__flag.iti__kg {
    height: 12px;
    background-position: -2655px 0
}

.iti__flag.iti__kh {
    height: 13px;
    background-position: -2677px 0
}

.iti__flag.iti__ki {
    height: 10px;
    background-position: -2699px 0
}

.iti__flag.iti__km {
    height: 12px;
    background-position: -2721px 0
}

.iti__flag.iti__kn {
    height: 14px;
    background-position: -2743px 0
}

.iti__flag.iti__kp {
    height: 10px;
    background-position: -2765px 0
}

.iti__flag.iti__kr {
    height: 14px;
    background-position: -2787px 0
}

.iti__flag.iti__kw {
    height: 10px;
    background-position: -2809px 0
}

.iti__flag.iti__ky {
    height: 10px;
    background-position: -2831px 0
}

.iti__flag.iti__kz {
    height: 10px;
    background-position: -2853px 0
}

.iti__flag.iti__la {
    height: 14px;
    background-position: -2875px 0
}

.iti__flag.iti__lb {
    height: 14px;
    background-position: -2897px 0
}

.iti__flag.iti__lc {
    height: 10px;
    background-position: -2919px 0
}

.iti__flag.iti__li {
    height: 12px;
    background-position: -2941px 0
}

.iti__flag.iti__lk {
    height: 10px;
    background-position: -2963px 0
}

.iti__flag.iti__lr {
    height: 11px;
    background-position: -2985px 0
}

.iti__flag.iti__ls {
    height: 14px;
    background-position: -3007px 0
}

.iti__flag.iti__lt {
    height: 12px;
    background-position: -3029px 0
}

.iti__flag.iti__lu {
    height: 12px;
    background-position: -3051px 0
}

.iti__flag.iti__lv {
    height: 10px;
    background-position: -3073px 0
}

.iti__flag.iti__ly {
    height: 10px;
    background-position: -3095px 0
}

.iti__flag.iti__ma {
    height: 14px;
    background-position: -3117px 0
}

.iti__flag.iti__mc {
    height: 15px;
    background-position: -3139px 0
}

.iti__flag.iti__md {
    height: 10px;
    background-position: -3160px 0
}

.iti__flag.iti__me {
    height: 10px;
    background-position: -3182px 0
}

.iti__flag.iti__mf {
    height: 14px;
    background-position: -3204px 0
}

.iti__flag.iti__mg {
    height: 14px;
    background-position: -3226px 0
}

.iti__flag.iti__mh {
    height: 11px;
    background-position: -3248px 0
}

.iti__flag.iti__mk {
    height: 10px;
    background-position: -3270px 0
}

.iti__flag.iti__ml {
    height: 14px;
    background-position: -3292px 0
}

.iti__flag.iti__mm {
    height: 14px;
    background-position: -3314px 0
}

.iti__flag.iti__mn {
    height: 10px;
    background-position: -3336px 0
}

.iti__flag.iti__mo {
    height: 14px;
    background-position: -3358px 0
}

.iti__flag.iti__mp {
    height: 10px;
    background-position: -3380px 0
}

.iti__flag.iti__mq {
    height: 14px;
    background-position: -3402px 0
}

.iti__flag.iti__mr {
    height: 14px;
    background-position: -3424px 0
}

.iti__flag.iti__ms {
    height: 10px;
    background-position: -3446px 0
}

.iti__flag.iti__mt {
    height: 14px;
    background-position: -3468px 0
}

.iti__flag.iti__mu {
    height: 14px;
    background-position: -3490px 0
}

.iti__flag.iti__mv {
    height: 14px;
    background-position: -3512px 0
}

.iti__flag.iti__mw {
    height: 14px;
    background-position: -3534px 0
}

.iti__flag.iti__mx {
    height: 12px;
    background-position: -3556px 0
}

.iti__flag.iti__my {
    height: 10px;
    background-position: -3578px 0
}

.iti__flag.iti__mz {
    height: 14px;
    background-position: -3600px 0
}

.iti__flag.iti__na {
    height: 14px;
    background-position: -3622px 0
}

.iti__flag.iti__nc {
    height: 10px;
    background-position: -3644px 0
}

.iti__flag.iti__ne {
    height: 15px;
    background-position: -3666px 0
}

.iti__flag.iti__nf {
    height: 10px;
    background-position: -3686px 0
}

.iti__flag.iti__ng {
    height: 10px;
    background-position: -3708px 0
}

.iti__flag.iti__ni {
    height: 12px;
    background-position: -3730px 0
}

.iti__flag.iti__nl {
    height: 14px;
    background-position: -3752px 0
}

.iti__flag.iti__no {
    height: 15px;
    background-position: -3774px 0
}

.iti__flag.iti__np {
    height: 15px;
    background-position: -3796px 0
}

.iti__flag.iti__nr {
    height: 10px;
    background-position: -3811px 0
}

.iti__flag.iti__nu {
    height: 10px;
    background-position: -3833px 0
}

.iti__flag.iti__nz {
    height: 10px;
    background-position: -3855px 0
}

.iti__flag.iti__om {
    height: 10px;
    background-position: -3877px 0
}

.iti__flag.iti__pa {
    height: 14px;
    background-position: -3899px 0
}

.iti__flag.iti__pe {
    height: 14px;
    background-position: -3921px 0
}

.iti__flag.iti__pf {
    height: 14px;
    background-position: -3943px 0
}

.iti__flag.iti__pg {
    height: 15px;
    background-position: -3965px 0
}

.iti__flag.iti__ph {
    height: 10px;
    background-position: -3987px 0
}

.iti__flag.iti__pk {
    height: 14px;
    background-position: -4009px 0
}

.iti__flag.iti__pl {
    height: 13px;
    background-position: -4031px 0
}

.iti__flag.iti__pm {
    height: 14px;
    background-position: -4053px 0
}

.iti__flag.iti__pn {
    height: 10px;
    background-position: -4075px 0
}

.iti__flag.iti__pr {
    height: 14px;
    background-position: -4097px 0
}

.iti__flag.iti__ps {
    height: 10px;
    background-position: -4119px 0
}

.iti__flag.iti__pt {
    height: 14px;
    background-position: -4141px 0
}

.iti__flag.iti__pw {
    height: 13px;
    background-position: -4163px 0
}

.iti__flag.iti__py {
    height: 11px;
    background-position: -4185px 0
}

.iti__flag.iti__qa {
    height: 8px;
    background-position: -4207px 0
}

.iti__flag.iti__re {
    height: 14px;
    background-position: -4229px 0
}

.iti__flag.iti__ro {
    height: 14px;
    background-position: -4251px 0
}

.iti__flag.iti__rs {
    height: 14px;
    background-position: -4273px 0
}

.iti__flag.iti__ru {
    height: 14px;
    background-position: -4295px 0
}

.iti__flag.iti__rw {
    height: 14px;
    background-position: -4317px 0
}

.iti__flag.iti__sa {
    height: 14px;
    background-position: -4339px 0
}

.iti__flag.iti__sb {
    height: 10px;
    background-position: -4361px 0
}

.iti__flag.iti__sc {
    height: 10px;
    background-position: -4383px 0
}

.iti__flag.iti__sd {
    height: 10px;
    background-position: -4405px 0
}

.iti__flag.iti__se {
    height: 13px;
    background-position: -4427px 0
}

.iti__flag.iti__sg {
    height: 14px;
    background-position: -4449px 0
}

.iti__flag.iti__sh {
    height: 10px;
    background-position: -4471px 0
}

.iti__flag.iti__si {
    height: 10px;
    background-position: -4493px 0
}

.iti__flag.iti__sj {
    height: 15px;
    background-position: -4515px 0
}

.iti__flag.iti__sk {
    height: 14px;
    background-position: -4537px 0
}

.iti__flag.iti__sl {
    height: 14px;
    background-position: -4559px 0
}

.iti__flag.iti__sm {
    height: 15px;
    background-position: -4581px 0
}

.iti__flag.iti__sn {
    height: 14px;
    background-position: -4603px 0
}

.iti__flag.iti__so {
    height: 14px;
    background-position: -4625px 0
}

.iti__flag.iti__sr {
    height: 14px;
    background-position: -4647px 0
}

.iti__flag.iti__ss {
    height: 10px;
    background-position: -4669px 0
}

.iti__flag.iti__st {
    height: 10px;
    background-position: -4691px 0
}

.iti__flag.iti__sv {
    height: 12px;
    background-position: -4713px 0
}

.iti__flag.iti__sx {
    height: 14px;
    background-position: -4735px 0
}

.iti__flag.iti__sy {
    height: 14px;
    background-position: -4757px 0
}

.iti__flag.iti__sz {
    height: 14px;
    background-position: -4779px 0
}

.iti__flag.iti__ta {
    height: 10px;
    background-position: -4801px 0
}

.iti__flag.iti__tc {
    height: 10px;
    background-position: -4823px 0
}

.iti__flag.iti__td {
    height: 14px;
    background-position: -4845px 0
}

.iti__flag.iti__tf {
    height: 14px;
    background-position: -4867px 0
}

.iti__flag.iti__tg {
    height: 13px;
    background-position: -4889px 0
}

.iti__flag.iti__th {
    height: 14px;
    background-position: -4911px 0
}

.iti__flag.iti__tj {
    height: 10px;
    background-position: -4933px 0
}

.iti__flag.iti__tk {
    height: 10px;
    background-position: -4955px 0
}

.iti__flag.iti__tl {
    height: 10px;
    background-position: -4977px 0
}

.iti__flag.iti__tm {
    height: 14px;
    background-position: -4999px 0
}

.iti__flag.iti__tn {
    height: 14px;
    background-position: -5021px 0
}

.iti__flag.iti__to {
    height: 10px;
    background-position: -5043px 0
}

.iti__flag.iti__tr {
    height: 14px;
    background-position: -5065px 0
}

.iti__flag.iti__tt {
    height: 12px;
    background-position: -5087px 0
}

.iti__flag.iti__tv {
    height: 10px;
    background-position: -5109px 0
}

.iti__flag.iti__tw {
    height: 14px;
    background-position: -5131px 0
}

.iti__flag.iti__tz {
    height: 14px;
    background-position: -5153px 0
}

.iti__flag.iti__ua {
    height: 14px;
    background-position: -5175px 0
}

.iti__flag.iti__ug {
    height: 14px;
    background-position: -5197px 0
}

.iti__flag.iti__um {
    height: 11px;
    background-position: -5219px 0
}

.iti__flag.iti__un {
    height: 14px;
    background-position: -5241px 0
}

.iti__flag.iti__us {
    height: 11px;
    background-position: -5263px 0
}

.iti__flag.iti__uy {
    height: 14px;
    background-position: -5285px 0
}

.iti__flag.iti__uz {
    height: 10px;
    background-position: -5307px 0
}

.iti__flag.iti__va {
    height: 15px;
    background-position: -5329px 0
}

.iti__flag.iti__vc {
    height: 14px;
    background-position: -5346px 0
}

.iti__flag.iti__ve {
    height: 14px;
    background-position: -5368px 0
}

.iti__flag.iti__vg {
    height: 10px;
    background-position: -5390px 0
}

.iti__flag.iti__vi {
    height: 14px;
    background-position: -5412px 0
}

.iti__flag.iti__vn {
    height: 14px;
    background-position: -5434px 0
}

.iti__flag.iti__vu {
    height: 12px;
    background-position: -5456px 0
}

.iti__flag.iti__wf {
    height: 14px;
    background-position: -5478px 0
}

.iti__flag.iti__ws {
    height: 10px;
    background-position: -5500px 0
}

.iti__flag.iti__xk {
    height: 15px;
    background-position: -5522px 0
}

.iti__flag.iti__ye {
    height: 14px;
    background-position: -5544px 0
}

.iti__flag.iti__yt {
    height: 14px;
    background-position: -5566px 0
}

.iti__flag.iti__za {
    height: 14px;
    background-position: -5588px 0
}

.iti__flag.iti__zm {
    height: 14px;
    background-position: -5610px 0
}

.iti__flag.iti__zw {
    height: 10px;
    background-position: -5632px 0
}

.iti__flag {
    height: 15px;
    box-shadow: 0 0 1px 0 #888;
    background-image: url(https://mymento.com.br/assets/build/img/flags-0a012cf808a24573168308916092d2d4bd3f2b4af8e16b59167013cc77acee55.png);
    background-repeat: no-repeat;
    background-color: #dbdbdb;
    background-position: 20px 0
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
        background-image:url(https://mymento.com.br/assets/build/img/flags@2x-8ab4e961a71e2a404aab37e528b0312282c258015d58f5e0eb5dec6aa4ff63d2.png)
    }
}

.iti__flag.iti__np {
    background-color: transparent
}

.easy-autocomplete {
    position: relative
}

.easy-autocomplete input {
    float: none;
    padding: 6px 12px
}

.easy-autocomplete input:hover,.easy-autocomplete input:focus {
    box-shadow: none
}

.easy-autocomplete a {
    display: block
}

.easy-autocomplete.eac-blue-light input:hover,.easy-autocomplete.eac-blue-light input:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(102,175,233,0.6)
}

.easy-autocomplete.eac-blue-light ul {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(102,175,233,0.6)
}

.easy-autocomplete.eac-blue-light ul li,.easy-autocomplete.eac-blue-light ul .eac-category {
    border-color: #66afe9
}

.easy-autocomplete.eac-blue-light ul li.selected,.easy-autocomplete.eac-blue-light ul .eac-category.selected {
    background-color: #ecf5fc
}

.easy-autocomplete.eac-green-light input:hover,.easy-autocomplete.eac-green-light input:focus {
    border-color: #41DB00;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(146,237,107,0.6)
}

.easy-autocomplete.eac-green-light ul {
    border-color: #41DB00;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(146,237,107,0.6)
}

.easy-autocomplete.eac-green-light ul li,.easy-autocomplete.eac-green-light ul .eac-category {
    border-color: #41DB00
}

.easy-autocomplete.eac-green-light ul li.selected,.easy-autocomplete.eac-green-light ul .eac-category.selected {
    background-color: #9eff75
}

.easy-autocomplete.eac-red-light input:hover,.easy-autocomplete.eac-red-light input:focus {
    border-color: #ff5b5b;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(255,90,90,0.6)
}

.easy-autocomplete.eac-red-light ul {
    border-color: #ff5b5b;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(255,90,90,0.6)
}

.easy-autocomplete.eac-red-light ul li,.easy-autocomplete.eac-red-light ul .eac-category {
    border-color: #ff5b5b
}

.easy-autocomplete.eac-red-light ul li.selected,.easy-autocomplete.eac-red-light ul .eac-category.selected {
    background-color: #ff8e8e
}

.easy-autocomplete.eac-yellow-light input:hover,.easy-autocomplete.eac-yellow-light input:focus {
    border-color: #ffdb00;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(255,231,84,0.6)
}

.easy-autocomplete.eac-yellow-light ul {
    border-color: #ffdb00;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(255,231,84,0.6)
}

.easy-autocomplete.eac-yellow-light ul li,.easy-autocomplete.eac-yellow-light ul .eac-category {
    border-color: #ffdb00
}

.easy-autocomplete.eac-yellow-light ul li.selected,.easy-autocomplete.eac-yellow-light ul .eac-category.selected {
    background-color: #ffe233
}

.easy-autocomplete.eac-dark-light input:hover,.easy-autocomplete.eac-dark-light input:focus {
    border-color: #333;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(55,55,55,0.6)
}

.easy-autocomplete.eac-dark-light ul {
    border-color: #333;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(55,55,55,0.6)
}

.easy-autocomplete.eac-dark-light ul li,.easy-autocomplete.eac-dark-light ul .eac-category {
    border-color: #333
}

.easy-autocomplete.eac-dark-light ul li.selected,.easy-autocomplete.eac-dark-light ul .eac-category.selected {
    background-color: #4d4d4d;
    color: #fff
}

.easy-autocomplete.eac-dark {
    color: #fff
}

.easy-autocomplete.eac-dark input {
    background-color: #404040;
    border-radius: 4px;
    box-shadow: 0;
    color: #f6f6f6
}

.easy-autocomplete.eac-dark input:hover,.easy-autocomplete.eac-dark input:focus {
    border-color: #333;
    box-shadow: 0
}

.easy-autocomplete.eac-dark ul {
    border-color: #333
}

.easy-autocomplete.eac-dark ul li,.easy-autocomplete.eac-dark ul .eac-category {
    background-color: #404040;
    border-color: #333
}

.easy-autocomplete.eac-dark ul li.selected,.easy-autocomplete.eac-dark ul .eac-category.selected {
    background-color: #737373;
    color: #f6f6f6
}

.easy-autocomplete.eac-dark-glass {
    color: #fff
}

.easy-autocomplete.eac-dark-glass input {
    background-color: rgba(0,0,0,0.8);
    border-radius: 4px;
    box-shadow: 0;
    color: #f6f6f6
}

.easy-autocomplete.eac-dark-glass input:hover,.easy-autocomplete.eac-dark-glass input:focus {
    border-color: rgba(0,0,0,0.8);
    box-shadow: 0
}

.easy-autocomplete.eac-dark-glass ul {
    border-color: rgba(0,0,0,0.8)
}

.easy-autocomplete.eac-dark-glass ul li,.easy-autocomplete.eac-dark-glass ul .eac-category {
    background-color: rgba(0,0,0,0.8);
    border-color: rgba(0,0,0,0.8)
}

.easy-autocomplete.eac-dark-glass ul li.selected,.easy-autocomplete.eac-dark-glass ul .eac-category.selected {
    background-color: rgba(64,64,64,0.8);
    color: #f6f6f6
}

.easy-autocomplete.eac-dark-glass ul li:last-child,.easy-autocomplete.eac-dark-glass ul .eac-category:last-child {
    border-radius: 0 0 4px 4px
}

.easy-autocomplete.eac-blue {
    color: #fff
}

.easy-autocomplete.eac-blue input {
    background-color: #6d9ed1;
    border-radius: 4px;
    box-shadow: 0;
    color: #f6f6f6
}

.easy-autocomplete.eac-blue input::-webkit-input-placeholder {
    color: #f6f6f6
}

.easy-autocomplete.eac-blue input:-moz-placeholder {
    color: #f6f6f6
}

.easy-autocomplete.eac-blue input::-moz-placeholder {
    color: #f6f6f6
}

.easy-autocomplete.eac-blue input:-ms-input-placeholder {
    color: #f6f6f6
}

.easy-autocomplete.eac-blue input:hover,.easy-autocomplete.eac-blue input:focus {
    border-color: #5A91CB;
    box-shadow: 0
}

.easy-autocomplete.eac-blue ul {
    border-color: #5A91CB
}

.easy-autocomplete.eac-blue ul li,.easy-autocomplete.eac-blue ul .eac-category {
    background-color: #6d9ed1;
    border-color: #5A91CB
}

.easy-autocomplete.eac-blue ul li.selected,.easy-autocomplete.eac-blue ul .eac-category.selected {
    background-color: #94b8dd;
    color: #f6f6f6
}

.easy-autocomplete.eac-yellow {
    color: #333
}

.easy-autocomplete.eac-yellow input {
    background-color: #ffdb7e;
    border-color: #333;
    border-radius: 4px;
    box-shadow: 0;
    color: #333
}

.easy-autocomplete.eac-yellow input:hover,.easy-autocomplete.eac-yellow input:focus {
    border-color: #333;
    box-shadow: 0
}

.easy-autocomplete.eac-yellow ul {
    border-color: #333
}

.easy-autocomplete.eac-yellow ul li,.easy-autocomplete.eac-yellow ul .eac-category {
    background-color: #ffdb7e;
    border-color: #333
}

.easy-autocomplete.eac-yellow ul li.selected,.easy-autocomplete.eac-yellow ul .eac-category.selected {
    background-color: #ffe9b1;
    color: #333
}

.easy-autocomplete.eac-purple {
    color: #333
}

.easy-autocomplete.eac-purple input {
    background-color: #d6d1e7;
    border-color: #b8afd5;
    box-shadow: 0;
    color: #333
}

.easy-autocomplete.eac-purple input:hover,.easy-autocomplete.eac-purple input:focus {
    border-color: #333;
    box-shadow: 0
}

.easy-autocomplete.eac-purple ul {
    border-color: #333
}

.easy-autocomplete.eac-purple ul li,.easy-autocomplete.eac-purple ul .eac-category {
    background-color: #d6d1e7;
    border-color: #333
}

.easy-autocomplete.eac-purple ul li.selected,.easy-autocomplete.eac-purple ul .eac-category.selected {
    background-color: #ebe8f3;
    color: #333
}

.easy-autocomplete.eac-bootstrap input {
    border-color: #ccc;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: #555;
    padding: 6px 12px
}

.easy-autocomplete-container {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2
}

.easy-autocomplete-container ul {
    background: none repeat scroll 0 0 #ffffff;
    border-top: 1px dotted #ccc;
    display: none;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    position: relative;
    top: -1px
}

.easy-autocomplete-container ul li,.easy-autocomplete-container ul .eac-category {
    background: inherit;
    border-color: #ccc;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 4px 12px
}

.easy-autocomplete-container ul li:last-child {
    border-radius: 0 0 2px 2px;
    border-width: 0 1px 1px
}

.easy-autocomplete-container ul li.selected {
    background: none repeat scroll 0 0 #ebebeb;
    cursor: pointer
}

.easy-autocomplete-container ul li.selected div {
    font-weight: normal
}

.easy-autocomplete-container ul li div {
    display: block;
    font-weight: normal;
    word-break: break-all
}

.easy-autocomplete-container ul li b {
    font-weight: bold
}

.easy-autocomplete-container ul .eac-category {
    font-color: #aaa;
    font-style: italic
}

.eac-description .eac-item span {
    color: #aaa;
    font-style: italic;
    font-size: 0.9em
}

.eac-icon-left .eac-item img {
    margin-right: 4px;
    max-height: 30px
}

.eac-icon-right .eac-item {
    margin-top: 8px;
    min-height: 24px;
    position: relative
}

.eac-icon-right .eac-item img {
    margin-left: 4px;
    max-height: 30px;
    position: absolute;
    right: -4px;
    top: -8px
}
