.close {
	color: rgb(0, 0, 0); line-height: 1; font-size: 21px; font-weight: bold; float: right; opacity: 0.2; text-shadow: 0px 1px 0px #ffffff;
}
.close:hover {
	color: rgb(0, 0, 0); text-decoration: none; cursor: pointer; opacity: 0.5;
}
.close:focus {
	color: rgb(0, 0, 0); text-decoration: none; cursor: pointer; opacity: 0.5;
}
button.close {
	background: none; border: 0px currentColor; border-image: none; padding-right: 20px; cursor: pointer; -webkit-appearance: none;
}
.modal-open {
	overflow: hidden;
}
.modal.modal-wide .modal-dialog {
	width: 90%;
}
.modal {
	left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: auto; display: none; position: fixed; z-index: 1040; -ms-overflow-y: scroll;
}
.modal-data {
	left: 50% !important; top: 20% !important; overflow: visible !important; position: fixed;
}
.modal-data {
	width: 490px; height: 340px;
}
.modal-data .modal-dialog {
	width: 490px; height: 340px;
}
.modal-data .modal-content {
	width: 490px; height: 340px;
}
.modal-data .modal-dialog {
	margin: 0px !important; padding: 0px !important;
}
.modal-data .modal-content {
	margin: 0px !important; padding: 0px !important;
}
.modal-data .modal-content .icon {
	
}
.modal-static {
	left: 50% !important; top: 50% !important; overflow: visible !important; margin-top: -50px; margin-left: -50px; position: fixed;
}
.modal-static {
	width: 100px; height: 100px;
}
.modal-static .modal-dialog {
	width: 100px; height: 100px;
}
.modal-static .modal-content {
	width: 100px; height: 100px;
}
.modal-static .modal-dialog {
	margin: 0px !important; padding: 0px !important;
}
.modal-static .modal-content {
	margin: 0px !important; padding: 0px !important;
}
.modal-static .modal-content .icon {
	
}
.modal.fade .modal-dialog {
	transition:transform 0.3s ease-out; transform: translate(0px, -25%); -webkit-transform: translate(0, -25%); -webkit-transition: -webkit-transform 0.3s ease-out; -moz-transition: -moz-transform 0.3s ease-out; -o-transition: -o-transform 0.3s ease-out;
}
.modal.in .modal-dialog {
	transform: translate(0px, 0px); -webkit-transform: translate(0, 0);
}
.modal-dialog {
	margin: 10px; width: auto; position: relative; z-index: 1050;
}
.modal-content {
	border-radius: 6px; border: 1px solid rgba(0, 0, 0, 0.2); border-image: none; width: 480px; position: relative; box-shadow: 0px 3px 9px rgba(0,0,0,0.5); background-clip: padding-box; background-color: rgb(255, 255, 255); -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.modal-backdrop {
	left: 0px; top: 0px; right: 0px; bottom: 0px; position: fixed; z-index: 1030; background-color: rgb(0, 0, 0);
}
.modal-backdrop.fade {
	opacity: 0;
}
.modal-backdrop.in {
	opacity: 0.5;
}
.modal-header {
	padding: 15px; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid; min-height: 16.42px;
}
.modal-header .close {
	margin-top: -2px;
}
.modal-title {
	margin: 0px; line-height: 1.4285;
}
.modal-body {
	padding: 20px; text-align: center; color: rgb(137, 137, 137); line-height: 24px; font-family: "Roboto", sans-serif; font-size: 16px; font-weight: 300; margin-bottom: 10px; position: relative;
}
.modal-footer {
	padding: 19px 20px 20px; text-align: right; margin-top: 15px; border-top-color: rgb(229, 229, 229); border-top-width: 1px; border-top-style: solid;
}
.modal-footer::before {
	display: table; content: " ";
}
.modal-footer::after {
	display: table; content: " ";
}
.modal-footer::after {
	clear: both;
}
.modal-footer::before {
	display: table; content: " ";
}
.modal-footer::after {
	display: table; content: " ";
}
.modal-footer::after {
	clear: both;
}
.modal-footer .btn + .btn {
	margin-bottom: 0px; margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
	margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
	margin-left: 0px;
}
@media screen and (min-width:768px)
{
.modal-dialog {
	margin: 30px auto; width: 600px;
}
.modal-content {
	box-shadow: 0px 5px 15px rgba(0,0,0,0.5); -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
}
.popover {
	padding: 1px; border-radius: 6px; border: 1px solid rgba(0, 0, 0, 0.2); border-image: none; left: 0px; top: 0px; text-align: left; display: none; white-space: normal; position: absolute; z-index: 1010; max-width: 276px; box-shadow: 0px 5px 10px rgba(0,0,0,0.2); background-clip: padding-box; background-color: rgb(255, 255, 255); -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.popover.top {
	margin-top: -10px;
}
.popover.right {
	margin-left: 10px;
}
.popover.bottom {
	margin-top: 10px;
}
.popover.left {
	margin-left: -10px;
}
.popover-title {
	margin: 0px; padding: 8px 14px; border-radius: 5px 5px 0px 0px; line-height: 18px; font-size: 14px; font-weight: normal; border-bottom-color: rgb(235, 235, 235); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(247, 247, 247);
}
.popover-content {
	padding: 9px 14px;
}
.popover .arrow {
	border-style: solid; border-color: transparent; width: 0px; height: 0px; display: block; position: absolute;
}
.popover .arrow::after {
	border-style: solid; border-color: transparent; width: 0px; height: 0px; display: block; position: absolute;
}
.popover .arrow {
	border-width: 11px;
}
.popover .arrow::after {
	border-width: 10px; content: "";
}
.popover.top .arrow {
	left: 50%; bottom: -11px; margin-left: -11px; border-top-color: rgba(0, 0, 0, 0.25); border-bottom-width: 0px;
}
.popover.top .arrow::after {
	bottom: 1px; margin-left: -10px; border-top-color: rgb(255, 255, 255); border-bottom-width: 0px; content: " ";
}
.popover.right .arrow {
	left: -11px; top: 50%; margin-top: -11px; border-right-color: rgba(0, 0, 0, 0.25); border-left-width: 0px;
}
.popover.right .arrow::after {
	left: 1px; bottom: -10px; border-right-color: rgb(255, 255, 255); border-left-width: 0px; content: " ";
}
.popover.bottom .arrow {
	left: 50%; top: -11px; margin-left: -11px; border-bottom-color: rgba(0, 0, 0, 0.25); border-top-width: 0px;
}
.popover.bottom .arrow::after {
	top: 1px; margin-left: -10px; border-bottom-color: rgb(255, 255, 255); border-top-width: 0px; content: " ";
}
.popover.left .arrow {
	top: 50%; right: -11px; margin-top: -11px; border-left-color: rgba(0, 0, 0, 0.25); border-right-width: 0px;
}
.popover.left .arrow::after {
	right: 1px; bottom: -10px; border-left-color: rgb(255, 255, 255); border-right-width: 0px; content: " ";
}
