.wrap {
	margin: 0px auto; width: 100%;
}
#header {
	background: url("../../../../../imagens/pt/bg-header.jpg") repeat-x bottom; height: 66px;
}
#header .wrap {
	margin: 0px auto; max-width: 1099px;
}
#header #logos {
	margin: 0px auto; width: 350px; height: 35px; overflow: hidden; display: block;
}
#header #logos li {
	padding: 0px 11px; height: 35px; margin-top: 0px;
}
#header #logos li#l-1001 {
	width: 35px; margin-top: 10px !important;
}
#header #logos li#l-cometa {
	width: 35px; margin-top: 10px !important;
}
#header #logos li#l-catarinense {
	width: 35px; margin-top: 10px !important;
}
#header #logos li#l-expresso-sul {
	width: 35px; margin-top: 10px !important;
}
#header #logos li#l-rrp {
	width: 35px; margin-top: 10px !important;
}
#header #logos li#l-macaense {
	width: 35px; margin-top: 10px !important;
}
#header .logged {
	display: none;
}
#header form {
	margin: 0px auto; text-align: center; display: block;
}
#header form span {
	color: rgb(35, 165, 214); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 10px; font-weight: 400;
}
#header form .login-field {
	border: 1px solid rgb(206, 205, 205); border-image: none; height: 17px;
}
#header form .btn-login {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -96px -402px; border: 0px currentColor; border-image: none; width: 25px; height: 25px; margin-top: -7px; vertical-align: bottom; display: inline-block;
}
#area-select {
	overflow: hidden;
}
#area-select .wrap {
	width: 100%;
}
#area-select #webdoor {
	background: url("../../../imagens/pt/webdoor/DESCARTE_webdoor-01.jpg") no-repeat center / 100%; width: 100%; height: 160px; display: block;
}
#area-select #select-trip {
	background: rgb(41, 175, 226); margin: -15px auto 10px; border-radius: 10px; overflow: visible; display: block; min-height: 100px; max-width: 292px; box-shadow: 0px 6px 10px 0px rgba(50,50,50,0.25); -webkit-box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.25); -moz-box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.25); -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
#select-trip #selects {
	background: rgb(41, 175, 226); margin: 0px auto; border-radius: 10px; width: 292px; min-height: 90px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -moz-border-radius-bottomleft: 10px;
}
#select-trip .logged-choose#selects {
	width: 100%; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; min-height: 0px; border-top-right-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topright: 10px;
}
#select-trip #login {
	display: none;
}
#selects ul#tabs li {
	width: 53px; height: 55px; color: rgb(255, 255, 255); text-transform: uppercase; line-height: 55px; overflow: hidden; font-family: "Roboto Condensed", sans-serif; font-size: 13px; font-weight: 300; float: left; display: inline-block;
}
#select-trip .logged-choose#selects ul#tabs li {
	width: 53px;
}
#selects .buy-tickets {
	background: rgb(33, 161, 209); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(33, 161, 209) rgb(33, 161, 209) currentColor; width: 180px !important; border-top-left-radius: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px;
}
#selects .shopping-cart {
	background: rgb(33, 161, 209); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(33, 161, 209) rgb(33, 161, 209) currentColor;
}
#selects .history {
	background: rgb(33, 161, 209); border-top-right-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topright: 10px;
}
#selects span.icon {
	width: 30px; height: 30px; margin-left: 9px; float: left; display: block;
}
#selects .buy-tickets span {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -150px -95px; margin-top: 17px;
}
#selects .shopping-cart span {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -179px -64px; margin-top: 17px;
}
#selects .history span {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -148px -60px; margin-top: 17px;
}
#select-trip .logged-choose#selects ul#tabs li.history {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; border-top-right-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topright: 10px;
}
#selects ul#tabs li.active {
	background: rgb(41, 175, 226); border-color: rgb(41, 175, 226);
}
#selects .tab {
	width: 100%; overflow: hidden;
}
#selects .tab ul.type {
	margin: 15px 20px; text-transform: uppercase; overflow: hidden; font-family: "Roboto Condensed", sans-serif; font-size: 11px; font-weight: 300;
}
#selects .tab ul.type li {
	margin: 0px 5px; float: left; display: inline-block;
}
#selects .tab ul.type li a {
	padding: 5px 20px; border-radius: 15px; border: 1px solid rgb(41, 175, 226); color: rgb(255, 255, 255); overflow: hidden; display: block; -webkit-border-radius: 15px; -moz-border-radius: 15px;
}
#selects .tab ul.type li a.active {
	background: rgb(0, 123, 168); border-color: rgb(0, 123, 168);
}
#selects .tab ul.type li a:hover {
	background: rgb(0, 123, 168); border-color: rgb(0, 123, 168);
}
#selects #places {
	margin: 10px 0px;
}
#selects #places {
	width: 100%; overflow: hidden; clear: both; margin-left: 35px; display: block;
}
#selects #dates {
	width: 100%; overflow: hidden; clear: both; margin-left: 35px; display: block;
}
#selects #places label {
	width: 300px; float: left; display: block;
}
#selects #dates label {
	width: 300px; float: left; display: block;
}
#selects #places p {
	width: 300px; color: rgb(255, 255, 255); font-family: "Roboto Condensed", sans-serif; font-size: 16px; font-weight: 300;
}
#selects #dates p {
	width: 300px; color: rgb(255, 255, 255); font-family: "Roboto Condensed", sans-serif; font-size: 16px; font-weight: 300;
}
#selects .date-field {
	width: 204px; height: 28px;
}
#selects .select-field {
	width: 227px; height: 40px;
}
#selects .select-field {
	margin: 5px auto; padding: 5px 10px; border: 1px solid rgb(5, 164, 235); border-image: none; color: rgb(54, 54, 54); font-family: "Roboto", sans-serif; font-size: 14px; font-weight: 300; float: left; display: block;
}
#selects .date-field {
	margin: 5px auto; padding: 5px 10px; border: 1px solid rgb(5, 164, 235); border-image: none; color: rgb(54, 54, 54); font-family: "Roboto", sans-serif; font-size: 14px; font-weight: 300; float: left; display: block;
}
#selects .separator {
	display: none;
}
#selects .btn-locate {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -61px; margin: 0px 23px 12px; border: 0px currentColor; border-image: none; width: 136px; height: 45px; float: right; display: block; cursor: pointer;
}
#content {
	width: 100%; overflow: hidden; min-height: 210px;
}
#content .wrap {
	width: 100%;
}
#content h1.home {
	line-height: 37px;
}
#content h1 {
	margin: 24px 0px 5px 24px; color: rgb(1, 138, 188); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 24px; font-weight: 300;
}
.internal#content {
	padding-bottom: 50px;
}
.internal#content h1.select {
	margin: 40px auto 20px; text-align: center; color: rgb(1, 138, 188); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 24px; font-weight: 300;
}
.internal#content h1 {
	margin: 40px 0px 20px; text-align: center; color: rgb(1, 138, 188); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 24px; font-weight: 300;
}
.internal#content h1.voucher {
	margin: 40px;
}
.internal#content h2.voucher {
	margin: 0px 20px 20px; text-align: center; color: rgb(1, 138, 188); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 24px; font-weight: 300;
}
.internal#content h2.voucher span {
	color: rgb(246, 24, 1); font-weight: 500;
}
.internal#content h5 {
	text-align: center;
}
.internal#content h6 {
	color: rgb(48, 166, 196); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 18px; font-weight: 300;
}
.internal#content h6 span {
	color: rgb(112, 112, 112);
}
.internal#content h6.info {
	text-align: center;
}
.internal#content p.buy-info {
	text-align: center;
}
.internal#content table.voucher {
	margin: 20px 0px 50px; text-transform: uppercase; font-family: "Roboto Condensed", sans-serif;
}
.internal#content table.voucher thead tr th {
	padding: 10px 0px; text-align: left; color: rgb(54, 54, 54); font-size: 16px; font-weight: 300;
}
.internal#content table.voucher tbody tr td {
	padding: 20px 0px; text-align: center; color: rgb(137, 137, 137); font-size: 18px; font-weight: 300;
}
.internal#content table.voucher {
	display: block;
}
.internal#content table.voucher thead {
	display: block;
}
.internal#content table.voucher tbody {
	display: block;
}
.internal#content table.voucher th {
	display: block;
}
.internal#content table.voucher td {
	display: block;
}
.internal#content table.voucher tr {
	display: block;
}
.internal#content table.voucher thead tr {
	left: -9999px; top: -9999px; position: absolute;
}
.internal#content table.voucher tr {
	border: 0px currentColor; border-image: none; margin-bottom: 50px;
}
.internal#content table.voucher td {
	border: currentColor; border-image: none; text-align: center; padding-left: 50%; white-space: normal; position: relative;
}
.internal#content table.voucher td::before {
	left: 172px; top: 0px; width: 20%; text-align: center; padding-right: 10px; font-weight: 500; white-space: nowrap; position: absolute;
}
.internal#content table.voucher td::before {
	content: attr(data-title);
}
#content h3 {
	margin: 20px;
}
#content .box-relacionamento {
	margin: 0px auto; width: 100%; overflow: hidden; clear: both;
}
#content .box-relacionamento h3 {
	margin: 0px 20px !important;
}
#content .texto {
	margin: 40px;
}
#content .texto ol li {
	list-style: circle; margin: 5px 50px;
}
#content .texto p {
	margin: 20px 0px;
}
#content span.logo-voucher {
	margin: 50px auto 30px; padding: 0px 15px; height: 60px; display: block;
}
#content h6 {
	margin: 0px 24px; color: rgb(149, 149, 149); font-family: "Roboto", sans-serif; font-size: 13px; font-weight: 300;
}
.internal#content p.center {
	margin: 0px auto; color: rgb(85, 85, 85); line-height: 24px; font-family: "Roboto", sans-serif; font-size: 16px; font-weight: 300; display: block; max-width: 329px;
}
.internal#content p.full-center {
	margin: 0px auto; color: rgb(85, 85, 85); line-height: 24px; font-family: "Roboto", sans-serif; font-size: 16px; font-weight: 300; display: block; max-width: 329px;
}
.internal#content p.full-center {
	text-align: center;
}
.internal#content p.order {
	margin: 50px auto; text-align: center; color: rgb(0, 118, 163); font-family: "Roboto", sans-serif; font-size: 16px; font-weight: 300;
}
.internal#content p.order span {
	clear: both; font-size: 24px; display: block;
}
.internal#content a.go-login {
	margin-top: 40px;
}
#content p.normal {
	margin: 40px 0px; color: rgb(99, 99, 99); font-family: "Roboto Condensed", sans-serif; font-size: 18px; font-weight: 300;
}
#content .box-register-full {
	background: rgb(241, 241, 241); margin: 0px auto; padding: 25px; border-radius: 10px; width: 312px; overflow: hidden; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
#content .box-register-full p {
	line-height: 20px; font-family: "Roboto", sans-serif; font-size: 14px; font-weight: 300;
}
#content .box-register-full p span {
	font-size: 12px;
}
#content .box-register-full h3 {
	margin: 20px 0px; color: rgb(1, 138, 188); text-transform: uppercase; clear: both; font-family: "Roboto Condensed", sans-serif; font-size: 24px; font-weight: 300;
}
#content .box-register-full .holder {
	overflow: hidden; margin-bottom: 50px;
}
#content .box-register-full .normal-field {
	margin: 0px 10px 10px 0px; padding: 5px; border: 1px solid rgb(211, 209, 209); border-image: none; width: 270px; height: 28px; float: left;
}
#card-info .normal-field {
	margin: 0px 10px 10px 0px; padding: 5px; border: 1px solid rgb(211, 209, 209); border-image: none; width: 270px; height: 28px; float: left;
}
#content .box-register-full .select-field {
	margin: 0px 10px 10px 0px; padding: 5px; border: 1px solid rgb(211, 209, 209); border-image: none; width: 282px; height: 40px; float: left;
}
#content #square-home {
	margin: 20px auto; overflow: hidden;
}
#square-home li {
	margin: 20px auto; width: 288px; height: 181px; text-transform: uppercase; overflow: hidden; font-family: "Roboto Condensed", sans-serif; font-weight: 300; float: none; display: block;
}
#square-home li h1 {
	margin: 25px 24px 5px 21px; color: rgb(255, 255, 255); font-size: 21px;
}
#square-home li h2 {
	margin: 0px 0px 0px 21px; width: 215px; color: rgb(255, 255, 255); font-size: 27px; font-weight: 300;
}
#square-home li:nth-child(3n-1) {
	margin: 0px auto;
}
#square-home li#square-1001 {
	background: url("../../../imagens/pt/square-banner/square-promo-1001.jpg");
}
#square-home li#square-cometa {
	background: url("../../../imagens/pt/square-banner/square-promo-cometa.jpg");
}
#square-home li#square-catarinense {
	background: url("../../../imagens/pt/square-banner/square-promo-catarinense.jpg");
}
#square-home li#square-expresso-sul {
	background: url("../../../imagens/pt/square-banner/square-promo-expresso-sul.jpg");
}
#square-home li#square-rrp {
	background: url("../../../imagens/pt/square-banner/square-promo-rrp.jpg");
}
#square-home li#square-macaense {
	background: url("../../../imagens/pt/square-banner/square-promo-macaense.jpg");
}
#content #breadcrumb {
	display: none;
}
#content .btn-cancel {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -480px; width: 89px; height: 28px; margin-right: 15px; vertical-align: baseline; float: left; display: inline-block;
}
#content .reprint {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -511px; width: 89px; height: 28px; vertical-align: baseline; float: left; display: inline-block;
}
#content .table-list {
	margin: 20px 0px; font-family: "Roboto Condensed", sans-serif;
}
#content .table-list thead tr {
	background: rgb(35, 158, 212); height: 36px;
}
#content .table-list thead tr th {
	padding: 0px 10px; text-align: left; color: rgb(255, 255, 255); line-height: 36px; overflow: hidden; font-size: 14px; font-weight: 300;
}
#content .table-list tbody tr {
	height: 36px; line-height: 36px;
}
#content .table-list tbody tr td {
	padding: 0px 0px 0px 10px; color: rgb(112, 112, 112); overflow: hidden; font-size: 14px; font-weight: 300; vertical-align: middle;
}
#content .table-list tbody tr:nth-child(2n+1) {
	background: rgb(226, 226, 226);
}
#content .table-list tbody tr:nth-child(2n) {
	background: rgb(236, 236, 236);
}
#content .table-list tbody tr:hover {
	background: rgb(194, 194, 194);
}
#current-trips {
	margin: 45px auto; width: 320px; float: none;
}
#payment-info {
	margin: 45px auto; width: 320px; float: none;
}
#current-trips .available-trips {
	margin: 0px 0px 20px; width: 320px; float: none;
}
#current-trips .available-trips h3 {
	margin: 40px 10px; color: rgb(13, 155, 199); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 18px; font-weight: 300;
}
#current-trips .trip-dates {
	height: 63px; overflow: hidden;
}
#current-trips .trip-dates .prev {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -154px -406px; width: 20px; height: 20px; margin-top: 23px; float: left; display: block;
}
#current-trips .trip-dates .next {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -184px -406px; width: 20px; height: 20px; margin-top: 23px; float: right; display: block;
}
#current-trips .trip-dates ul {
	
}
#current-trips .trip-dates ul.cart {
	margin: 0px auto; width: 118px; overflow: hidden; display: block;
}
#current-trips .trip-dates ul li {
	width: 80px; height: 44px; text-align: center; color: rgb(219, 219, 219); padding-top: 18px; font-family: "Roboto Condensed", sans-serif; font-size: 12px; font-weight: 300; float: left; display: inline-block;
}
#current-trips .trip-dates ul li.active {
	background: rgb(21, 168, 214); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(255, 255, 255) rgb(255, 255, 255) currentColor; border-image: none; width: 115px; color: rgb(255, 255, 255); border-top-left-radius: 10px; border-top-right-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-left-radius: 10px; -moz-border-radius-topleft: 10px;
}
#current-trips .trip-dates ul li span {
	clear: both; font-size: 15px; font-weight: 400; margin-top: 5px; display: block;
}
#current-trips .trip-destiny {
	background: rgb(21, 168, 214); padding: 25px 10px; text-align: center; color: rgb(255, 255, 255); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 16px; font-weight: 300;
}
#current-trips .trip-destiny strong {
	font-weight: 700;
}
#current-trips .trip-legend {
	background: rgb(10, 131, 169); width: 100%; height: 30px; overflow: hidden; font-family: "Roboto", sans-serif; font-size: 10px; font-weight: 300;
}
#current-trips .trip-legend span {
	margin: 0px 2px; height: 30px; text-align: center; color: rgb(109, 207, 246); text-transform: uppercase; line-height: 30px; overflow: hidden; float: left; display: block;
}
#current-trips .trip-legend span:nth-child(1) {
	width: 10px; margin-left: 8px;
}
#current-trips .trip-choose .line span:nth-child(1) {
	width: 10px; margin-left: 8px;
}
#current-trips .trip-legend span:nth-child(2) {
	width: 60px; font-size: 85%; -ms-word-wrap: break-word;
}
#current-trips .trip-choose .line span:nth-child(2) {
	width: 60px; font-size: 85%; -ms-word-wrap: break-word;
}
#current-trips .trip-legend span:nth-child(3) {
	width: 50px;
}
#current-trips .trip-choose .line span:nth-child(3) {
	width: 50px;
}
#current-trips .trip-legend span:nth-child(4) {
	width: 50px;
}
#current-trips .trip-choose .line span:nth-child(4) {
	width: 50px;
}
#current-trips .trip-legend span:nth-child(5) {
	width: 60px;
}
#current-trips .trip-choose .line span:nth-child(5) {
	width: 60px;
}
#current-trips .trip-legend span:nth-child(6) {
	width: 55px;
}
#current-trips .trip-choose .line span:nth-child(6) {
	width: 55px;
}
#current-trips .trip-choose .line span.small-1001 {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -2px; height: 20px; margin-top: 23px;
}
#header #logos li#l-1001 {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -2px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-cometa {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -372px -47px; height: 20px; margin-top: 23px;
}
#header #logos li#l-cometa {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -372px -47px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-expresso {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -369px -66px; height: 20px; margin-top: 23px;
}
#header #logos li#l-expresso-sul {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -369px -66px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-rrp {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -111px; height: 20px; margin-top: 23px;
}
#header #logos li#l-rrp {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -111px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-catarinense {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -374px -25px; height: 20px; margin-top: 23px;
}
#header #logos li#l-catarinense {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -374px -25px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-macaense {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -90px; height: 20px; margin-top: 23px;
}
#header #logos li#l-macaense {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -90px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose {
	background: rgb(226, 226, 226); width: 100%; font-family: "Roboto", sans-serif; font-size: 10px; font-weight: 300;
}
#current-trips .trip-choose .line {
	width: 100%; height: 66px; font-family: "Roboto", sans-serif; font-size: 11px; font-weight: 300; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
#current-trips .trip-choose .line span {
	margin: 0px 2px; height: 66px; text-align: center; color: rgb(54, 54, 54); line-height: 66px; float: left; display: block;
}
a.tooltip {
	color: rgb(54, 54, 54); display: inline; position: relative;
}
a.tooltip div {
	background: rgb(88, 196, 244); padding: 10px; border-radius: 6px; width: 116px; height: auto !important; text-align: left; color: rgb(56, 106, 129); line-height: 13px; font-size: 115%; visibility: hidden; position: absolute;
}
a.tooltip div::after {
	left: 50%; width: 0px; height: 0px; bottom: 100%; margin-left: -8px; border-right-color: transparent; border-bottom-color: rgb(88, 196, 244); border-left-color: transparent; border-right-width: 8px; border-bottom-width: 8px; border-left-width: 8px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; position: absolute; content: "";
}
a.tooltip:hover div {
	left: 80%; top: 23px; margin-left: -76px; visibility: visible; z-index: 999; opacity: 1;
}
a.tooltips {
	top: 0px; display: inline; position: inherit;
}
a.tooltips div {
	background: rgb(88, 196, 244); padding: 20px; border-radius: 6px; width: 250px; height: auto !important; text-align: center; color: rgb(56, 106, 129); display: none; position: absolute;
}
.tooltips div p {
	line-height: 21px; font-size: 16px; margin-bottom: 5px;
}
a.tooltips div::after {
	left: 50%; top: 100%; width: 0px; height: 0px; margin-left: -8px; border-top-color: rgb(88, 196, 244); border-right-color: transparent; border-left-color: transparent; border-top-width: 8px; border-right-width: 8px; border-left-width: 8px; border-top-style: solid; border-right-style: solid; border-left-style: solid; position: absolute; content: "";
}
li.tooltips div {
	top: -251px;
}
a.tooltips:hover div {
	left: 0%; bottom: 30px; margin-left: -76px; display: block; z-index: 999;
}
#current-trips .trip-choose .line span input {
	margin-top: 27px;
}
#current-trips p.message {
	text-align: center; color: rgb(54, 54, 54); font-family: "Roboto", sans-serif; font-weight: 300;
}
#current-trips p.message strong {
	font-weight: 500;
}
#shopping-cart-holder {
	margin: 0px auto; padding: 0px 50px; width: 245px; float: none; display: block;
}
#shopping-cart {
	background: url("../../../imagens/pt/cart-big.png") no-repeat 96px 62px rgb(21, 86, 119); border-radius: 10px; width: 245px; overflow: hidden; min-height: 251px; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
#shopping-cart .item span {
	margin: 0px 50px 5px; clear: both; display: block;
}
.delete-seat {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -431px; margin: 0px auto; border: 0px currentColor; border-image: none; width: 102px; height: 45px; display: block; cursor: pointer;
}
.delete-seat-cart {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -386px; margin: 0px auto; border: 0px currentColor; border-image: none; width: 135px; height: 45px; display: block; cursor: pointer;
}
.line-out {
	background: rgb(198, 197, 197); width: 100%; height: 43px; overflow: hidden; font-family: "Roboto", sans-serif; font-size: 11px; font-weight: 300;
}
#payment-info h3 {
	margin: 0px 0px 40px; text-align: center; color: rgb(35, 159, 212); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 18px; font-weight: 300;
}
#payment-info #card-choose {
	margin: 0px auto; overflow: hidden; float: none;
}
#payment-info #card-info .error {
	color: rgb(255, 0, 0);
}
#payment-info #card-info p.error {
	line-height: 18px; font-family: "Roboto", sans-serif; font-size: 11px; font-weight: 300; margin-bottom: 10px;
}
#payment-info #card-info {
	margin: 0px auto; padding: 50px 0px; border: 0px currentColor; border-image: none; width: 296px; overflow: hidden; float: none;
}
#payment-info #portion {
	margin: 0px auto; padding: 0px 0px 0px 28px; float: none;
}
#payment-info #portion label {
	height: 30px; color: rgb(137, 137, 137); clear: both; font-family: "Roboto", sans-serif; font-size: 14px; font-weight: 300; float: left; display: block;
}
#payment-info p.privacy {
	background: rgb(240, 240, 240); margin: 40px 10px; padding: 20px; border-radius: 10px; width: 90%; color: rgb(137, 137, 137); clear: both; font-family: "Roboto", sans-serif; font-size: 14px; font-weight: 300; float: left; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
#box-login {
	background: rgb(221, 221, 221); margin: 0px auto 20px; width: 349px; height: 259px; float: none;
}
#box-register {
	background: rgb(221, 221, 221); margin: 0px auto; width: 349px; height: 259px; float: none;
}
#box-login h2 {
	width: 100%; text-align: center; color: rgb(255, 255, 255); text-transform: uppercase; line-height: 41px; font-family: "Roboto Condensed", sans-serif; font-size: 18px; font-weight: 300; margin-bottom: 30px;
}
#box-register h2 {
	width: 100%; text-align: center; color: rgb(255, 255, 255); text-transform: uppercase; line-height: 41px; font-family: "Roboto Condensed", sans-serif; font-size: 18px; font-weight: 300; margin-bottom: 30px;
}
#box-login h2 strong {
	font-weight: 700;
}
#box-register h2 strong {
	font-weight: 700;
}
#box-register h2 {
	background: rgb(18, 135, 179);
}
#box-login h2 {
	background: rgb(41, 178, 230);
}
#box-register p {
	margin: 15px 0px 20px 20px; color: rgb(99, 99, 99); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 18px; font-weight: 300;
}
#box-login input.field {
	margin: 5px auto; padding: 5px 10px; border: 1px solid rgb(190, 190, 190); border-image: none; height: 28px; color: rgb(54, 54, 54); font-family: "Roboto", sans-serif; font-size: 14px; font-weight: 300; display: block;
}
#box-register input.field {
	margin: 5px auto; padding: 5px 10px; border: 1px solid rgb(190, 190, 190); border-image: none; height: 28px; color: rgb(54, 54, 54); font-family: "Roboto", sans-serif; font-size: 14px; font-weight: 300; display: block;
}
#box-register input.field {
	width: 287px;
}
#box-login .btn-login {
	background: url("../../../imagens/pt/sprite-01.png") -224px -302px; margin: 20px auto 5px; border: 0px currentColor; border-image: none; width: 108px; height: 45px; display: block; cursor: pointer;
}
#box-login a {
	margin: 0px auto; text-align: center; color: rgb(149, 149, 149); font-family: "Roboto Condensed", sans-serif; font-size: 12px; font-weight: 300; display: block;
}
#box-register .btn-register {
	background: url("../../../imagens/pt/sprite-01.png") -224px -343px; margin: 20px 20px 0px 0px; border: 0px currentColor; border-image: none; width: 108px; height: 41px; float: right; cursor: pointer;
}
#content .box-register-full .btn-register {
	background: url("../../../imagens/pt/sprite-01.png") -224px -343px; margin: 20px 20px 0px 0px; border: 0px currentColor; border-image: none; width: 108px; height: 41px; float: right; cursor: pointer;
}
#bottom-menu {
	background: url("../../../imagens/pt/bg-bottom-menu.jpg") repeat-x bottom rgb(39, 170, 224); width: 100%; height: 106px; margin-bottom: 50px; display: block; box-shadow: 0px 6px 10px 0px rgba(50,50,50,0.25); -webkit-box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.25); -moz-box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.25);
}
#bottom-menu ul {
	margin: 15px auto 0px; width: 100%; text-transform: uppercase;
}
#bottom-menu ul li {
	padding: 10px 20px 5px; border: 0px currentColor; border-image: none; text-align: center; float: none; display: block;
}
#bottom-menu ul li:last-child {
	border: 0px currentColor; border-image: none;
}
#bottom-menu ul li a {
	color: rgb(255, 255, 255); font-family: "Roboto Condensed", sans-serif; font-size: 16px; font-weight: 300; vertical-align: middle;
}
#bottom-menu ul li a:hover {
	text-decoration: underline;
}
#bottom-menu ul li span {
	display: none;
}
#footer {
	padding: 0px 0px 50px; overflow: hidden;
}
#footer h3 {
	color: rgb(35, 157, 211); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 18px; font-weight: 300;
}
#footer #payment-methods {
	margin: 0px auto; width: 320px; text-align: center; float: none;
}
#payment-methods .cards {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 0px -360px; margin: 10px auto; width: 223px; height: 36px; display: block;
}
#footer #security {
	margin: 0px auto; width: 320px; text-align: center; float: none;
}
.modal-window {
	background: rgb(255, 255, 255);
}
.modal-window h1 {
	margin: 20px 0px; text-align: center; color: rgb(50, 171, 201); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 30px; font-weight: 300;
}
.modal-window h1 strong {
	font-weight: 700;
}
.modal-window h1.red {
	color: rgb(237, 28, 36);
}
.modal-window p {
	text-align: center; color: rgb(137, 137, 137); line-height: 24px; font-family: "Roboto", sans-serif; font-size: 16px; font-weight: 300; margin-bottom: 10px;
}
.modal-window p.item-number {
	color: rgb(0, 118, 163); line-height: 36px; font-family: "Roboto", sans-serif; font-size: 24px; font-weight: 300;
}
.modal-window .passenger {
	margin: 10px 0px 10px 35px; text-align: left; font-size: 14px;
}
.modal-window .extra-info {
	background: rgb(240, 240, 240); padding: 25px 35px 20px; text-align: left; color: rgb(99, 99, 99); line-height: 24px; overflow: hidden; clear: both; font-family: "Roboto", sans-serif; font-size: 16px; font-weight: 300; border-top-color: rgb(202, 201, 201); border-top-width: 1px; border-top-style: solid;
}
.modal-window input.field {
	width: 287px;
}
.modal-window select.field {
	background: rgb(240, 240, 240); margin: 5px auto; padding: 5px; border: 1px solid rgb(195, 193, 193); border-image: none; width: 414px; height: 43px; clear: both; display: block;
}
.modal-window a.btn-reserve {
	background: url("../../../imagens/pt/sprite-01.png") -224px -539px; margin: 20px 20px 20px 0px; border: 0px currentColor; border-image: none; width: 134px; height: 45px; clear: both; float: right; cursor: pointer;
}
.passenger-name {
	width: 223px;
}
.alert {
	width: 229px;
}
.confirm {
	width: 229px;
}
.modal-window a.btn-yes {
	background: url("../../../imagens/pt/sprite-01.png") -2px -553px; margin: 20px; border: 0px currentColor; border-image: none; width: 141px; height: 45px; float: left; cursor: pointer;
}
.modal-window a.btn-no {
	background: url("../../../imagens/pt/sprite-01.png") -2px -508px; margin: 20px; border: 0px currentColor; border-image: none; width: 141px; height: 45px; float: right; cursor: pointer;
}
