@import url( https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Condensed:400,300,500,700 );
html {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
body {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
div {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
span {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
applet {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
object {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
iframe {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
h1 {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
h2 {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
h3 {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
h4 {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
h5 {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
h6 {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
p {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
blockquote {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
pre {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
a {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
abbr {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
acronym {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
address {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
big {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
cite {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
code {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
del {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
dfn {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
em {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
font {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
img {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
ins {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
kbd {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
q {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
s {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
samp {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
small {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
strike {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
strong {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
sub {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
sup {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
tt {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
var {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
b {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
u {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
i {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
center {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
dl {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
dt {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
dd {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
ol {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
ul {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
li {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
fieldset {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
form {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
label {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
legend {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
table {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
caption {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
tbody {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
tfoot {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
thead {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
tr {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
th {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
td {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; font-size: 100%; vertical-align: baseline;
}
body {
	line-height: 1;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
q {
	quotes: none;
}
blockquote::before {
	content: none;
}
blockquote::after {
	content: none;
}
q::before {
	content: none;
}
q::after {
	content: none;
}
:focus {
	outline: 0px;
}
textarea {
	resize: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.clearfix::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: " ";
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
html {
	height: 100%;
}
body {
	height: 100%;
}
img {
	behavior: url(scripts/iepngfix.htc);
}
div {
	behavior: url(scripts/iepngfix.htc);
}
a {
	behavior: url(scripts/iepngfix.htc);
}
input {
	behavior: url(scripts/iepngfix.htc);
}
body {
	behavior: url(scripts/csshover3.htc);
}
.none {
	width: 1px; height: 1px; overflow: hidden; display: none; position: absolute;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	height: 0px; line-height: 0; clear: both; font-size: 0px; display: block;
}
.block {
	display: block;
}
.wrap {
	margin: 0px auto; width: 923px;
}
#header {
	background: url("../../../imagens/pt/bg-header.jpg") repeat-x top; width: 100%; height: 148px; overflow: hidden;
}
#header .wrap {
	margin: 0px auto; max-width: 1099px;
}
#header .slogan {
	color: rgb(99, 99, 99); line-height: 48px; clear: both; font-family: "Roboto", sans-serif; font-size: 14px; font-weight: 300;
}
#header #logos {
	margin: 23px auto 0px; height: 60px; display: block; max-width: 1050px;
}
#header #logos li {
	padding: 0px 15px; height: 60px; border-right-color: rgb(224, 223, 223); border-right-width: 1px; border-right-style: solid; float: left; display: inline-block;
}
#header #logos li:last-child {
	border: 0px currentColor; border-image: none;
}
#header #logos li:nth-child(6) {
	border: 0px currentColor; border-image: none;
}
#header #logos li#l-1001 {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px 0px; width: 139px;
}
span.l-1001 {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px 0px; width: 139px;
}
#header #logos li#l-cometa {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -60px; width: 126px;
}
span.l-cometa {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -60px; width: 126px;
}
#header #logos li#l-catarinense {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -120px; width: 149px;
}
span.l-catarinense {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -120px; width: 149px;
}
#header #logos li#l-expresso-sul {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -180px; width: 210px;
}
span.l-expresso-sul {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -180px; width: 210px;
}
#header #logos li#l-rrp {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -240px; width: 90px;
}
span.l-rrp {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -240px; width: 90px;
}
#header #logos li#l-macaense {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -305px; width: 149px;
}
span.l-macaense {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -305px; width: 149px;
}
#header .logged {
	background: url("../../../imagens/pt/bg-logged.png") no-repeat right top; width: 564px; height: 48px; padding-left: 100px; clear: both; margin-top: -40px; float: right;
}
#header .logged {
	margin: 20px 0px 0px; color: rgb(99, 99, 99); line-height: 18px; padding-top: 10px; font-family: "Roboto", sans-serif; font-size: 12px; font-weight: 200;
}
#header .logged span {
	margin: 0px 20px;
}
#header .logged a:hover {
	text-decoration: underline;
}
#header .logged a.your-name {
	color: rgb(99, 99, 99); font-weight: 500;
}
#header .logged a.logout {
	color: rgb(38, 165, 218); font-weight: 400;
}
#header form {
	display: none;
}
#area-select {
	overflow: hidden;
}
#area-select .wrap {
	width: 100% !important;
}
#area-select #webdoor {
	margin: 0px auto; height: 369px; overflow: hidden; display: block; max-width: 1366px;
}
#area-select #select-trip {
	background: rgb(41, 175, 226); margin: -150px auto 10px; border-radius: 10px; overflow: visible; display: block; position: relative; z-index: 100; min-height: 100px; max-height: 242px; max-width: 922px; box-shadow: 0px 6px 10px 0px rgba(50,50,50,0.25); -webkit-box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.25); -moz-box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.25); -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
#select-trip #selects {
	background: rgb(41, 175, 226); border-radius: 10px; width: 922px; float: left; min-height: 90px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-bottomleft: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px;
}
#select-trip .logged-choose#selects {
	width: 100%; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; min-height: 0px; border-top-right-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topright: 10px;
}
#select-trip #login {
	background: rgb(18, 135, 179); border-width: 1px 1px 1px 2px; border-style: solid; border-color: rgb(18, 135, 179) rgb(18, 135, 179) rgb(18, 135, 179) rgb(15, 127, 169); border-image: none; width: 201px; height: 241px; float: right; border-top-right-radius: 10px; border-bottom-right-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topright: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px;
}
#select-trip #login h2 {
	margin: 24px 0px 7px; text-align: center; color: rgb(255, 255, 255); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 20px; font-weight: 300;
}
#select-trip #login .login-field {
	margin: 5px auto; padding: 5px 10px; border: 1px solid rgb(5, 164, 235); border-image: none; width: 138px; height: 28px; color: rgb(54, 54, 54); font-family: "Roboto", sans-serif; font-size: 14px; font-weight: 300; display: block;
}
#select-trip #login .btn-login {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -12px; margin: 20px auto; border: 0px currentColor; border-image: none; width: 120px; height: 40px; display: block; cursor: pointer;
}
#select-trip #login a {
	margin: 5px 0px 5px 23px; color: rgb(255, 255, 255); clear: both; font-family: "Roboto", sans-serif; font-size: 11px; font-weight: 300; display: block;
}
#select-trip #login a:hover {
	text-decoration: underline;
}
.round-inner-shadow {
	border-radius: 5px; box-shadow: inset 5px 5px 5px 0px rgba(50,50,50,0.2); -webkit-box-shadow: inset 5px 5px 5px 0px rgba(50, 50, 50, 0.2); -moz-box-shadow: inset 5px 5px 5px 0px rgba(50, 50, 50, 0.2); -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.round-inner-shadow.error {
	border-radius: 5px; border: 1px solid rgb(255, 0, 0) !important; border-image: none !important; box-shadow: inset 5px 5px 5px 0px rgba(50,50,50,0.2); -webkit-box-shadow: inset 5px 5px 5px 0px rgba(50, 50, 50, 0.2); -moz-box-shadow: inset 5px 5px 5px 0px rgba(50, 50, 50, 0.2); -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
#selects ul#tabs li {
	width: 305px; height: 55px; color: rgb(255, 255, 255); text-transform: uppercase; line-height: 55px; font-family: "Roboto Condensed", sans-serif; font-size: 19px; font-weight: 300; float: left; display: inline-block;
}
#select-trip .logged-choose#selects ul#tabs li {
	width: 305px;
}
#selects ul#tabs li a {
	color: rgb(255, 255, 255);
}
#selects ul#tabs li a:hover {
	text-decoration: underline;
}
#selects .buy-tickets {
	background: rgb(33, 161, 209); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(33, 161, 209) rgb(33, 161, 209) currentColor; border-top-left-radius: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px;
}
#selects .shopping-cart {
	background: rgb(33, 161, 209); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(33, 161, 209) rgb(33, 161, 209) currentColor;
}
#selects .history {
	background: rgb(33, 161, 209); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(33, 161, 209) rgb(33, 161, 209) currentColor; border-top-right-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px;
}
#selects span.icon {
	margin: 17px 14px 0px 24px; width: 30px; height: 30px; float: left; display: block;
}
#selects .buy-tickets span {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -150px -95px; margin-top: 17px;
}
#selects .shopping-cart span {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -179px -64px; margin-top: 17px;
}
#selects .history span {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -148px -60px; margin-top: 17px;
}
#select-trip .logged-choose#selects ul#tabs li.history {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; border-top-right-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topright: 10px;
}
#selects ul#tabs {
	overflow: hidden;
}
#selects ul#tabs li.active {
	background: rgb(41, 175, 226); border-color: rgb(41, 175, 226);
}
#selects .tab {
	width: 100%; overflow: hidden; margin-top: 20px;
}
#selects .tab h1 {
	margin: 0px 0px 5px 35px; color: rgb(255, 255, 255); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 18px; font-weight: 700;
}
#selects .tab h2 {
	margin: 0px 0px 35px 35px; color: rgb(255, 255, 255); font-family: "Roboto", sans-serif; font-size: 14px; font-weight: 300;
}
#selects .tab ul.type {
	margin: 15px 20px; text-transform: uppercase; overflow: hidden; font-family: "Roboto Condensed", sans-serif; font-size: 11px; font-weight: 300;
}
#selects .tab ul.type li {
	margin: 0px 5px; float: left; display: inline-block;
}
#selects .tab ul.type li a {
	padding: 5px 20px; border-radius: 15px; border: 1px solid rgb(41, 175, 226); color: rgb(255, 255, 255); overflow: hidden; display: block; -webkit-border-radius: 15px; -moz-border-radius: 15px;
}
#selects .tab ul.type li a.active {
	background: rgb(0, 123, 168); border-color: rgb(0, 123, 168);
}
#selects .tab ul.type li a:hover {
	background: rgb(0, 123, 168); border-color: rgb(0, 123, 168);
}
#selects #places {
	margin: 10px 0px;
}
#selects #places {
	width: 100%; overflow: hidden; clear: both; margin-left: 35px; display: block;
}
#selects #dates {
	width: 100%; overflow: hidden; clear: both; margin-left: 35px; display: block;
}
#selects #places label {
	width: 400px; float: left; display: block;
}
#selects #dates label {
	width: 400px; float: left; display: block;
}
#selects #places p {
	width: 300px; color: rgb(255, 255, 255); font-family: "Roboto Condensed", sans-serif; font-size: 16px; font-weight: 300;
}
#selects #dates p {
	width: 300px; color: rgb(255, 255, 255); font-family: "Roboto Condensed", sans-serif; font-size: 16px; font-weight: 300;
}
#selects .date-field {
	width: 378px; height: 28px;
}
#selects .select-field {
	width: 400px; height: 40px;
}
#selects .select-field {
	margin: 5px auto; padding: 5px 10px; border: 1px solid rgb(5, 164, 235); border-image: none; color: rgb(54, 54, 54); font-family: "Roboto", sans-serif; font-size: 14px; font-weight: 300; float: left; display: block;
}
#selects .date-field {
	margin: 5px auto; padding: 5px 10px; border: 1px solid rgb(5, 164, 235); border-image: none; color: rgb(54, 54, 54); font-family: "Roboto", sans-serif; font-size: 14px; font-weight: 300; float: left; display: block;
}
#selects .separator {
	border-style: solid; margin: 0px 25px; width: 1px; height: 69px; border-right-color: rgb(69, 185, 231); border-left-color: rgb(41, 149, 199); border-right-width: 1px; border-left-width: 1px; float: left; display: block;
}
#selects .btn-locate {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -61px; margin: 0px 23px 12px; border: 0px currentColor; border-image: none; width: 136px; height: 45px; float: right; display: block; cursor: pointer;
}
#content {
	width: 100%; overflow: hidden; min-height: 200px;
}
#content h1 {
	margin: 24px 0px 5px; color: rgb(1, 138, 188); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 37px; font-weight: 300;
}
#content h1.home {
	text-align: center; line-height: 200px;
}
.internal#content {
	padding-bottom: 50px;
}
.internal#content h1.select {
	margin: 40px 0px 20px 113px; text-align: left; color: rgb(1, 138, 188); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 24px; font-weight: 300;
}
.internal#content h1 {
	margin: 40px 0px 20px; text-align: center; color: rgb(1, 138, 188); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 24px; font-weight: 300;
}
.internal#content h1.voucher {
	color: rgb(1, 138, 188); font-size: 30px;
}
.internal#content h2.voucher {
	margin: 0px 0px 20px; text-align: center; color: rgb(1, 138, 188); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 24px; font-weight: 300;
}
.internal#content h2.voucher span {
	color: rgb(246, 24, 1); font-weight: 500;
}
.internal#content h5 {
	margin: 80px 0px 20px; color: rgb(112, 112, 112); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 24px; font-weight: 300;
}
.internal#content h6 {
	color: rgb(48, 166, 196); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 18px; font-weight: 300;
}
.internal#content h6 span {
	color: rgb(112, 112, 112);
}
.internal#content h6.info {
	color: rgb(48, 166, 196); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 18px; font-weight: 300;
}
.internal#content p.buy-info {
	color: rgb(85, 85, 85); line-height: 21px; font-family: "Roboto Condensed", sans-serif; font-size: 16px; font-weight: 300; margin-top: 20px;
}
.internal#content table.voucher {
	margin: 20px 0px 50px; text-transform: uppercase; font-family: "Roboto Condensed", sans-serif;
}
.internal#content table.voucher thead tr th {
	padding: 10px 0px; text-align: left; color: rgb(54, 54, 54); font-size: 16px; font-weight: 300;
}
.internal#content table.voucher tbody tr td {
	padding: 5px 0px; text-align: left; color: rgb(137, 137, 137); font-size: 18px; font-weight: 300;
}
#content h2 {
	text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 24px; font-weight: 500; margin-top: 20px;
}
#content h2 a {
	color: rgb(48, 166, 196);
}
#content h3 {
	text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-weight: 300; margin-top: 20px;
}
#content h3.blue {
	color: rgb(48, 166, 196); font-size: 20px; font-weight: 500;
}
#content h3 a {
	color: rgb(48, 166, 196);
}
#content .box-relacionamento {
	width: 300px; overflow: hidden; float: left;
}
#content .box-relacionamento {
	margin: 0px 3px;
}
#rrp {
	display: none;
}
#v1001 {
	display: none;
}
#macaense {
	display: none;
}
#expresso {
	display: none;
}
#catarinense {
	display: none;
}
#cometa {
	display: none;
}
#content .texto {
	margin: 20px 0px; color: rgb(85, 85, 85); line-height: 21px; font-family: "Roboto Condensed", sans-serif; font-size: 16px; font-weight: 300; display: none; position: relative;
}
#content .texto ol li {
	list-style: circle; margin: 5px 30px;
}
#content .texto p {
	margin: 20px 0px;
}
#content span.logo-voucher {
	margin: 50px auto 30px; padding: 0px 15px; height: 60px; display: block;
}
#content h6 {
	color: rgb(149, 149, 149); font-family: "Roboto", sans-serif; font-size: 16px; font-weight: 300;
}
.internal#content p.center {
	margin: 0px auto; color: rgb(85, 85, 85); line-height: 24px; font-family: "Roboto", sans-serif; font-size: 16px; font-weight: 300; display: block; max-width: 500px;
}
.internal#content p.full-center {
	margin: 0px auto; color: rgb(85, 85, 85); line-height: 24px; font-family: "Roboto", sans-serif; font-size: 16px; font-weight: 300; display: block; max-width: 500px;
}
.internal#content p.full-center {
	text-align: center;
}
.internal#content p.order {
	margin: 50px auto; text-align: center; color: rgb(0, 118, 163); font-family: "Roboto", sans-serif; font-size: 16px; font-weight: 300;
}
.internal#content p.order span {
	clear: both; font-size: 24px; display: block;
}
.internal#content a.go-login {
	margin-top: 40px;
}
#content p.normal {
	margin: 40px 0px; color: rgb(99, 99, 99); font-family: "Roboto Condensed", sans-serif; font-size: 18px; font-weight: 300;
}
#content p.normal a {
	color: rgb(48, 166, 196);
}
#content .box-register-full {
	background: rgb(241, 241, 241); padding: 25px; border-radius: 10px; width: 876px; overflow: hidden; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
#content .box-register-full p {
	line-height: 20px; font-family: "Roboto", sans-serif; font-size: 14px; font-weight: 300;
}
#content .box-register-full p span {
	font-size: 12px;
}
#content .box-register-full h3 {
	margin: 20px 0px; color: rgb(1, 138, 188); text-transform: uppercase; clear: both; font-family: "Roboto Condensed", sans-serif; font-size: 24px; font-weight: 300;
}
#content .box-register-full .holder {
	overflow: hidden; margin-bottom: 50px;
}
#content .box-register-full .normal-field {
	margin: 0px 10px 10px 0px; padding: 5px; border: 1px solid rgb(211, 209, 209); border-image: none; width: 270px; height: 28px; float: left;
}
#card-info .normal-field {
	margin: 0px 10px 10px 0px; padding: 5px; border: 1px solid rgb(211, 209, 209); border-image: none; width: 270px; height: 28px; float: left;
}
#content .box-register-full .select-field {
	margin: 0px 10px 10px 0px; padding: 5px; border: 1px solid rgb(211, 209, 209); border-image: none; width: 282px; height: 40px; float: left;
}
#content #square-home {
	margin: 20px auto; max-width: 923px;
}
#square-home li {
	width: 288px; height: 181px; text-transform: uppercase; overflow: hidden; font-family: "Roboto Condensed", sans-serif; font-weight: 300; margin-bottom: 20px; float: left; display: inline-block;
}
#square-home li h1 {
	margin: 25px 0px 5px 21px; color: rgb(255, 255, 255); font-size: 21px;
}
#square-home li h2 {
	margin: 0px 0px 0px 21px; width: 215px; color: rgb(255, 255, 255); font-size: 27px; font-weight: 300;
}
#square-home li:nth-child(3n-1) {
	margin: 0px 20px;
}
#square-home li#square-1001 {
	background: url("../../../imagens/pt/square-banner/square-promo-1001.jpg");
}
#square-home li#square-cometa {
	background: url("../../../imagens/pt/square-banner/square-promo-cometa.jpg");
}
#square-home li#square-catarinense {
	background: url("../../../imagens/pt/square-banner/square-promo-catarinense.jpg");
}
#square-home li#square-expresso-sul {
	background: url("../../../imagens/pt/square-banner/square-promo-expresso-sul.jpg");
}
#square-home li#square-rrp {
	background: url("../../../imagens/pt/square-banner/square-promo-rrp.jpg");
}
#square-home li#square-macaense {
	background: url("../../../imagens/pt/square-banner/square-promo-macaense.jpg");
}
#content #breadcrumb {
	margin: 30px auto 0px; width: 659px; height: 60px;
}
#content #breadcrumb li {
	color: rgb(255, 255, 255); text-transform: uppercase; line-height: 60px; font-family: "Roboto Condensed", sans-serif; font-size: 18px; font-weight: 300; float: left; display: inline-block;
}
#content .active-hour#breadcrumb {
	background: url("../../../imagens/pt/sprite-breadcrumb.jpg") no-repeat 0px 0px;
}
#content .active-login#breadcrumb {
	background: url("../../../imagens/pt/sprite-breadcrumb.jpg") no-repeat 0px -60px;
}
#content .active-cart#breadcrumb {
	background: url("../../../imagens/pt/sprite-breadcrumb.jpg") no-repeat 0px -120px;
}
#content #breadcrumb li.hour {
	border: 0px currentColor; border-image: none; width: 250px; padding-right: 26px; border-top-left-radius: 10px; border-bottom-left-radius: 10px; -webkit-border-top-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-bottomleft: 10px;
}
#content #breadcrumb li.login {
	border: 0px currentColor; border-image: none; width: 190px; padding-right: 26px;
}
#content #breadcrumb li.payment {
	border: 0px currentColor; border-image: none; width: 167px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topright: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px;
}
#content #breadcrumb li span {
	margin: 7px 5px 0px; width: 45px; height: 41px; float: left; display: block;
}
#content #breadcrumb li.hour span {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -45px -432px;
}
#content #breadcrumb li.login span {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 0px -432px;
}
#content #breadcrumb li.cart span {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 0px -392px;
}
#content #breadcrumb li.payment span {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -45px -391px;
}
#content .btn-cancel {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -480px; width: 89px; height: 28px; margin-right: 15px; vertical-align: baseline; float: left; display: inline-block;
}
#content .reprint {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -511px; width: 89px; height: 28px; vertical-align: baseline; float: left; display: inline-block;
}
#content .table-list {
	margin: 20px 0px; font-family: "Roboto Condensed", sans-serif;
}
#content .table-list thead tr {
	background: rgb(35, 158, 212); height: 36px;
}
#content .table-list thead tr th {
	padding: 0px 10px; text-align: left; color: rgb(255, 255, 255); line-height: 36px; overflow: hidden; font-size: 18px; font-weight: 300;
}
#content .table-list tbody tr {
	height: 36px; line-height: 36px;
}
#content .table-list tbody tr td {
	padding: 0px 10px; color: rgb(112, 112, 112); overflow: hidden; font-weight: 300; vertical-align: middle;
}
#content .table-list tbody tr:nth-child(2n+1) {
	background: rgb(226, 226, 226);
}
#content .table-list tbody tr:nth-child(2n) {
	background: rgb(236, 236, 236);
}
#content .table-list tbody tr:hover {
	background: rgb(194, 194, 194);
}
#content a.print-voucher {
	background: url("../../../imagens/pt/sprite-01.png") -461px -7px; border: 0px currentColor; border-image: none; width: 134px; height: 45px; clear: both; float: left; cursor: pointer;
}
#current-trips {
	margin: 45px auto; width: 749px; float: left;
}
#payment-info {
	margin: 45px auto; width: 749px; float: left;
}
#current-trips .available-trips {
	width: 352px; margin-right: 17px; float: left;
}
#current-trips :only-child.available-trips {
	margin: 0px auto; float: none;
}
#current-trips .available-trips .trip-path {
	width: 40%; text-transform: uppercase; line-height: 24px; padding-left: 10px; font-family: "Roboto Condensed", sans-serif; font-size: 12px; margin-top: 20px; background-color: rgb(254, 248, 129);
}
#current-trips .available-trips .trip-path a {
	color: rgb(13, 155, 199);
}
#current-trips .available-trips p.legend {
	color: rgb(70, 70, 70); text-transform: uppercase; line-height: 24px; font-family: "Roboto Condensed", sans-serif; font-size: 12px; margin-top: 20px; float: left;
}
#current-trips .available-trips p.legend span {
	width: 20px; height: 20px; margin-right: 10px; float: left; display: block;
}
#current-trips .available-trips p.legend span.red {
	background: rgb(255, 0, 0);
}
#current-trips .available-trips p.legend span.grey {
	background: rgb(153, 153, 153);
}
#current-trips .available-trips p.legend span.green {
	background: rgb(0, 204, 0);
}
#current-trips .available-trips p.legend span.orange {
	background: orange;
}
#current-trips .available-trips h3 {
	margin: 40px 0px 40px 10px; width: 238px; color: rgb(13, 155, 199); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 18px; font-weight: 300; float: left; display: inline-block;
}
#current-trips .trip-dates {
	height: 63px; overflow: hidden;
}
#current-trips .trip-dates .prev {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -154px -406px; width: 20px; height: 20px; margin-top: 23px; float: left; display: block;
}
#current-trips .trip-dates .next {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -184px -406px; width: 20px; height: 20px; margin-top: 23px; float: right; display: block;
}
#current-trips .trip-dates ul {
	
}
#current-trips .trip-dates ul.cart {
	margin: 0px auto; width: 118px; overflow: hidden; display: block;
}
#current-trips .trip-dates ul li {
	width: 97px; height: 44px; text-align: center; color: rgb(219, 219, 219); padding-top: 18px; font-family: "Roboto Condensed", sans-serif; font-size: 12px; font-weight: 300; float: left; display: inline-block;
}
#current-trips .trip-dates ul li.active {
	background: rgb(21, 168, 214); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(255, 255, 255) rgb(255, 255, 255) currentColor; border-image: none; width: 115px; color: rgb(255, 255, 255); border-top-left-radius: 10px; border-top-right-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-left-radius: 10px; -moz-border-radius-topleft: 10px;
}
#current-trips .trip-dates ul li span {
	clear: both; font-weight: 400; margin-top: 5px; display: block;
}
#current-trips .trip-destiny {
	background: rgb(21, 168, 214); padding: 25px 10px; color: rgb(255, 255, 255); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 12px; font-weight: 300;
}
#current-trips .trip-destiny strong {
	font-weight: 700;
}
#current-trips .trip-legend {
	background: rgb(10, 131, 169); width: 100%; height: 30px; overflow: hidden; font-family: "Roboto", sans-serif; font-size: 10px; font-weight: 300;
}
#current-trips .trip-legend span {
	margin: 0px 2px; height: 30px; text-align: center; color: rgb(109, 207, 246); text-transform: uppercase; line-height: 30px; overflow: hidden; float: left; display: block;
}
#current-trips .trip-legend span:nth-child(1) {
	width: 25px;
}
#current-trips .trip-choose .line span:nth-child(1) {
	width: 25px;
}
#current-trips .trip-legend span:nth-child(2) {
	width: 68px;
}
#current-trips .trip-choose .line span:nth-child(2) {
	width: 68px;
}
#current-trips .trip-legend span:nth-child(3) {
	width: 47px;
}
#current-trips .trip-choose .line span:nth-child(3) {
	width: 47px;
}
#current-trips .trip-legend span:nth-child(4) {
	width: 79px;
}
#current-trips .trip-choose .line span:nth-child(4) {
	width: 79px;
}
#current-trips .trip-legend span:nth-child(5) {
	width: 51px;
}
#current-trips .trip-choose .line span:nth-child(5) {
	width: 51px;
}
#current-trips .trip-legend span:nth-child(6) {
	width: 57px;
}
#current-trips .trip-choose .line span:nth-child(6) {
	width: 57px;
}
#current-trips .trip-choose .line span.small-1001 {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -2px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-cometa {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -47px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-expresso {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -66px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-rrp {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -111px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-catarinense {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -25px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-macaense {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -90px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose {
	background: rgb(226, 226, 226); width: 100%; font-family: "Roboto", sans-serif; font-size: 10px; font-weight: 300;
}
#current-trips .trip-choose .line {
	width: 100%; height: 66px; font-family: "Roboto", sans-serif; font-size: 11px; font-weight: 300; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
#current-trips .trip-choose :nth-child(2n).line {
	background: rgb(234, 234, 234);
}
#current-trips .trip-choose .active {
	background: rgb(255, 255, 255);
}
#current-trips .trip-choose .line span {
	margin: 0px 2px; height: 66px; text-align: center; color: rgb(54, 54, 54); line-height: 66px; float: left; display: block;
}
a.tooltip {
	color: rgb(54, 54, 54); display: inline; position: relative;
}
a.tooltip div {
	background: rgb(88, 196, 244); padding: 10px; border-radius: 6px; width: 200px; height: auto !important; text-align: left; color: rgb(56, 106, 129); line-height: 13px; visibility: hidden; position: absolute;
}
a.tooltip div::after {
	left: 30%; width: 0px; height: 0px; bottom: 100%; margin-left: -8px; border-right-color: transparent; border-bottom-color: rgb(88, 196, 244); border-left-color: transparent; border-right-width: 8px; border-bottom-width: 8px; border-left-width: 8px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; position: absolute; content: "";
}
a.tooltip:hover div {
	left: 80%; top: 23px; margin-left: -76px; visibility: visible; z-index: 999; opacity: 1;
}
li.tooltips div {
	background: rgb(88, 196, 244); margin: 0px auto; padding: 20px; border-radius: 6px; width: 136px; height: auto !important; text-align: center; bottom: 228px; color: rgb(56, 106, 129); display: none; position: relative; z-index: 999;
}
.tooltips div p {
	line-height: 21px; font-size: 16px; margin-bottom: 5px;
}
li.tooltips div::after {
	left: 50%; top: 100%; width: 0px; height: 0px; margin-left: -8px; border-top-color: rgb(88, 196, 244); border-right-color: transparent; border-left-color: transparent; border-top-width: 8px; border-right-width: 8px; border-left-width: 8px; border-top-style: solid; border-right-style: solid; border-left-style: solid; position: absolute; content: "";
}
li.tooltips:hover {
	cursor: pointer;
}
#current-trips .trip-choose .line span input {
	margin-top: 27px;
}
#current-trips p.message {
	text-align: center; color: rgb(54, 54, 54); font-family: "Roboto", sans-serif; font-weight: 300;
}
#current-trips p.message strong {
	font-weight: 500;
}
#shopping-cart-holder {
	width: 145px; float: right; min-height: 251px;
}
#shopping-cart {
	background: url("../../../imagens/pt/cart-big.png") no-repeat 45px 62px rgb(21, 86, 119); border-radius: 10px; width: 145px; overflow: hidden; min-height: 251px; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
#shopping-cart h4 {
	margin: 22px 0px 80px; text-align: center; color: rgb(255, 255, 255); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 18px; font-weight: 300;
}
#shopping-cart .item {
	margin: 0px 15px 20px; text-align: left; color: rgb(255, 255, 255); font-family: "Roboto", sans-serif; font-size: 11px; font-weight: 300;
}
#shopping-cart .item span {
	clear: both; margin-bottom: 5px; display: block;
}
#shopping-cart .item span.price {
	font-size: 14px; font-weight: 400;
}
#shopping-cart .item span.price strong {
	font-weight: 500;
}
#shopping-cart a.remove-cart {
	color: rgb(0, 216, 255); font-family: "Roboto", sans-serif; font-size: 12px; font-weight: 500;
}
#shopping-cart .cart-total {
	background: rgb(30, 104, 142); margin: 10px 0px; padding: 25px 0px; text-align: center; color: rgb(255, 255, 255); font-family: "Roboto", sans-serif; font-size: 16px; font-weight: 300; display: block;
}
#shopping-cart .cart-total strong {
	font-weight: 700;
}
#shopping-cart p.insurance {
	margin: 40px 10px; text-align: left; color: rgb(255, 255, 255); line-height: 14px; font-family: "Roboto", sans-serif; font-size: 11px; font-weight: 300;
}
#shopping-cart p.insurance input {
	margin-bottom: 30px; float: left; display: block;
}
#shopping-cart a.finish-cart {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -115px; margin: 0px auto; border: 0px currentColor; border-image: none; width: 136px; height: 45px; display: block; cursor: pointer;
}
#shopping-cart a.go-cart {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -255px; margin: 0px auto; border: 0px currentColor; border-image: none; width: 136px; height: 45px; display: block; cursor: pointer;
}
a.go-login {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -255px; margin: 0px auto; border: 0px currentColor; border-image: none; width: 136px; height: 45px; display: block; cursor: pointer;
}
#shopping-cart a.back-shop {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -162px; margin: 0px auto; border: 0px currentColor; border-image: none; width: 136px; height: 45px; display: block; cursor: pointer;
}
#shopping-cart-holder a.clear-cart {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -206px; margin: 0px auto; border: 0px currentColor; border-image: none; width: 136px; height: 45px; display: block; cursor: pointer;
}
.delete-seat {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -431px; margin: 0px auto; border: 0px currentColor; border-image: none; width: 102px; height: 45px; display: block; cursor: pointer;
}
.delete-seat-cart {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -386px; margin: 0px auto; border: 0px currentColor; border-image: none; width: 135px; height: 45px; display: block; cursor: pointer;
}
.line-out {
	background: rgb(198, 197, 197); width: 100%; height: 43px; overflow: hidden; font-family: "Roboto", sans-serif; font-size: 11px; font-weight: 300;
}
#payment-info h3 {
	margin: 0px 0px 40px; text-align: left; color: rgb(35, 159, 212); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 18px; font-weight: 300;
}
#payment-info #card-choose {
	padding: 0px 18px 0px 28px; width: 162px; text-align: center; float: left;
}
#payment-info #card-choose label {
	margin: 20px auto; width: 100px; text-align: center; overflow: hidden; clear: both; display: block;
}
#payment-info #card-choose label input {
	margin-top: 10px; float: left;
}
#payment-info #card-choose label span {
	height: 36px; float: left; display: block;
}
#payment-info #card-choose label span.visa {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 0px -360px; width: 66px;
}
#payment-info #card-choose label span.master {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -59px -360px; width: 55px;
}
#payment-info #card-choose label span.amex {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -110px -360px; width: 34px;
}
#payment-info #card-choose label span.diners {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -186px -360px; width: 37px;
}
#payment-info #card-choose label span.elo {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -143px -360px; width: 45px;
}
#payment-info #card-info .error {
	color: rgb(255, 0, 0);
}
#payment-info #card-info p.error {
	line-height: 18px; font-family: "Roboto", sans-serif; font-size: 11px; font-weight: 300; margin-bottom: 10px;
}
#payment-info #card-info {
	border-width: 0px 1px; border-style: none solid; border-color: currentColor rgb(222, 222, 222); padding: 0px 18px 0px 28px; border-image: none; width: 296px; float: left;
}
#payment-info #card-info label {
	margin: 10px 0px; color: rgb(137, 137, 137); line-height: 18px; clear: both; font-family: "Roboto", sans-serif; font-size: 14px; font-weight: 500; display: block;
}
#card-info .select-field {
	background: rgb(240, 240, 240); margin: 0px 10px 10px 0px; padding: 5px; border: 1px solid rgb(211, 209, 209); border-image: none; width: 136px; height: 40px; float: left;
}
#card-info .normal-field {
	background: rgb(240, 240, 240);
}
#payment-info #portion {
	padding: 0px 0px 0px 28px; width: 153px; float: left; display: block;
}
#payment-info #portion label {
	height: 30px; color: rgb(137, 137, 137); clear: both; font-family: "Roboto", sans-serif; font-size: 14px; font-weight: 300; float: left; display: block;
}
#payment-info p.email-voucher {
	background: rgb(213, 242, 253); margin: 40px 10px 10px; padding: 20px; border-radius: 10px; width: 90%; color: rgb(137, 137, 137); clear: both; font-family: "Roboto", sans-serif; font-size: 14px; font-weight: 300; float: left; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
#payment-info p.email-voucher input {
	padding: 5px; border: 1px solid rgb(211, 209, 209); border-image: none; width: 270px; height: 28px;
}
#payment-info p.privacy {
	background: rgb(240, 240, 240); margin: 0px 10px; padding: 20px; border-radius: 10px; width: 90%; color: rgb(137, 137, 137); clear: both; font-family: "Roboto", sans-serif; font-size: 14px; font-weight: 300; float: left; -webkit-border-radius: 10px; -moz-border-radius: 10px;
}
#box-login {
	background: rgb(221, 221, 221); width: 349px; height: 259px; margin-right: 55px; float: left;
}
#box-register {
	background: rgb(221, 221, 221); width: 518px; height: 259px; float: left;
}
#box-login h2 {
	width: 100%; text-align: center; color: rgb(255, 255, 255); text-transform: uppercase; line-height: 41px; font-family: "Roboto Condensed", sans-serif; font-size: 18px; font-weight: 300; margin-bottom: 30px;
}
#box-register h2 {
	width: 100%; text-align: center; color: rgb(255, 255, 255); text-transform: uppercase; line-height: 41px; font-family: "Roboto Condensed", sans-serif; font-size: 18px; font-weight: 300; margin-bottom: 30px;
}
#box-login h2 strong {
	font-weight: 700;
}
#box-register h2 strong {
	font-weight: 700;
}
#box-register h2 {
	background: rgb(18, 135, 179);
}
#box-login h2 {
	background: rgb(41, 178, 230);
}
#box-register p {
	margin: 15px 0px 20px 20px; color: rgb(99, 99, 99); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 18px; font-weight: 300;
}
#box-login input.field {
	margin: 5px auto; padding: 5px 10px; border: 1px solid rgb(190, 190, 190); border-image: none; height: 28px; color: rgb(54, 54, 54); font-family: "Roboto", sans-serif; font-size: 14px; font-weight: 300; display: block;
}
#box-register input.field {
	margin: 5px auto; padding: 5px 10px; border: 1px solid rgb(190, 190, 190); border-image: none; height: 28px; color: rgb(54, 54, 54); font-family: "Roboto", sans-serif; font-size: 14px; font-weight: 300; display: block;
}
#box-login input.field {
	width: 287px;
}
#box-register input.field {
	width: 457px;
}
#box-login .btn-login {
	background: url("../../../imagens/pt/sprite-01.png") -224px -302px; margin: 20px auto 5px; border: 0px currentColor; border-image: none; width: 108px; height: 45px; display: block; cursor: pointer;
}
#box-login a {
	margin: 0px auto; text-align: center; color: rgb(149, 149, 149); font-family: "Roboto Condensed", sans-serif; font-size: 12px; font-weight: 300; display: block;
}
#box-register .btn-register {
	background: url("../../../imagens/pt/sprite-01.png") -224px -343px; margin: 20px 20px 0px 0px; border: 0px currentColor; border-image: none; width: 108px; height: 41px; float: right; cursor: pointer;
}
#content .box-register-full .btn-register {
	background: url("../../../imagens/pt/sprite-01.png") -224px -343px; margin: 20px 20px 0px 0px; border: 0px currentColor; border-image: none; width: 108px; height: 41px; float: right; cursor: pointer;
}
#bottom-menu {
	background: url("../../../imagens/pt/bg-bottom-menu.jpg"); width: 100%; height: 52px; margin-bottom: 50px; display: block; box-shadow: 0px 6px 10px 0px rgba(50,50,50,0.25); -webkit-box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.25); -moz-box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.25);
}
#bottom-menu ul {
	margin: 15px auto 0px; width: 600px; padding-top: 15px;
}
#bottom-menu ul li {
	padding: 0px 20px; line-height: 16px; margin-top: 15px; border-right-color: rgb(255, 255, 255); border-right-width: 1px; border-right-style: solid; display: inline-block;
}
#bottom-menu ul li > a.tooltips {
	top: 0px; margin-top: 15px;
}
#bottom-menu ul li a {
	color: rgb(255, 255, 255);
}
#bottom-menu ul li:last-child {
	border: 0px currentColor; border-image: none;
}
#bottom-menu ul li {
	height: 25px; color: rgb(255, 255, 255); font-family: "Roboto Condensed", sans-serif; font-size: 16px; font-weight: 300; vertical-align: middle; float: left;
}
#bottom-menu ul li a:hover {
	text-decoration: underline;
}
#bottom-menu ul li span {
	width: 30px; height: 25px; margin-right: 10px; float: left; display: block;
}
#bottom-menu ul li span.bag {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -179px -5px; float: left;
}
#bottom-menu ul li span.balloon {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -148px -7px; float: left;
}
#bottom-menu ul li span.operator {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -148px -32px; float: left;
}
#footer {
	padding: 0px 0px 50px; overflow: hidden;
}
#footer h3 {
	color: rgb(35, 157, 211); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 18px; font-weight: 300;
}
#footer #payment-methods {
	width: 461px; text-align: center; float: left;
}
#payment-methods .cards {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 0px -360px; margin: 10px auto; width: 183px; height: 36px; display: block;
}
#footer #security {
	width: 461px; text-align: center; float: left;
}
.modal-window {
	background: rgb(255, 255, 255);
}
.modal-window h1 {
	margin: 20px 0px; text-align: center; color: rgb(50, 171, 201); text-transform: uppercase; font-family: "Roboto Condensed", sans-serif; font-size: 30px; font-weight: 300;
}
.modal-window h1 strong {
	font-weight: 700;
}
.modal-window h1.red {
	color: rgb(237, 28, 36);
}
.modal-window h1.passenger-name {
	font-size: 15px !important;
}
.modal-window p {
	text-align: center; color: rgb(137, 137, 137); line-height: 24px; font-family: "Roboto", sans-serif; font-size: 16px; font-weight: 300; margin-bottom: 10px;
}
.modal-window p.item-number {
	color: rgb(0, 118, 163); line-height: 36px; font-family: "Roboto", sans-serif; font-size: 24px; font-weight: 300;
}
.modal-window .passenger {
	margin: 10px 0px 10px 35px; text-align: left; font-size: 14px;
}
.modal-window .extra-info {
	background: rgb(240, 240, 240); padding: 25px 35px 20px; text-align: left; color: rgb(99, 99, 99); line-height: 24px; overflow: hidden; clear: both; font-family: "Roboto", sans-serif; font-size: 16px; font-weight: 300; border-top-color: rgb(202, 201, 201); border-top-width: 1px; border-top-style: solid;
}
.modal-window input.field {
	background: rgb(240, 240, 240); margin: 5px auto; padding: 5px; border: 1px solid rgb(195, 193, 193); border-image: none; width: 250px; height: 32px; clear: both; display: block;
}
.modal-window select.field {
	background: rgb(240, 240, 240); margin: 5px auto; padding: 5px; border: 1px solid rgb(195, 193, 193); border-image: none; width: 262px; height: 43px; clear: both; display: block;
}
a.btn-reserve {
	background: url("../../../imagens/pt/sprite-01.png") -224px -539px; margin: 20px 20px 20px 0px; border: 0px currentColor; border-image: none; width: 134px; height: 45px; clear: both; float: left; cursor: pointer;
}
.passenger-name {
	padding: 0px 15px; width: 344px; margin-bottom: 20px; float: left;
}
:nth-child(2n).passenger-name {
	border-left-color: rgb(137, 137, 137); border-left-width: 1px; border-left-style: solid;
}
:nth-child(2n+1).passenger-name {
	clear: left;
}
.alert {
	width: 480px;
}
.confirm {
	width: 480px;
}
.modal-window a.btn-yes {
	background: url("../../../imagens/pt/sprite-01.png") -2px -553px; margin: 20px; border: 0px currentColor; border-image: none; width: 141px; height: 45px; float: left; cursor: pointer;
}
.modal-window a.btn-no {
	background: url("../../../imagens/pt/sprite-01.png") -2px -508px; margin: 20px; border: 0px currentColor; border-image: none; width: 141px; height: 45px; float: right; cursor: pointer;
}
.modal-window a.finalizar {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -115px; margin: 0px auto; border: 0px currentColor; border-image: none; width: 136px; height: 45px; display: block; cursor: pointer;
}
.modal-window a.avancar {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -255px; margin: 0px auto; border: 0px currentColor; border-image: none; width: 136px; height: 45px; display: block; cursor: pointer;
}
.modal-window a.localizar {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -224px -61px; margin: 0px 23px 12px; border: 0px currentColor; border-image: none; width: 136px; height: 45px; float: right; display: block; cursor: pointer;
}
.modal-window input.field.error {
	background: rgb(240, 240, 240); margin: 5px auto; padding: 5px; border: 1px solid rgb(255, 0, 0); border-image: none; width: 250px; height: 32px; clear: both; display: block;
}
#header #logos li#l-DEM {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px 0px; width: 139px;
}
span.l-DEM {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px 0px; width: 139px;
}
#header #logos li#l-TES {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -60px; width: 126px;
}
span.l-TES {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -60px; width: 126px;
}
#header #logos li#l-MIL {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px 0px; width: 139px;
}
span.l-MIL {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px 0px; width: 139px;
}
#header #logos li#l-COM {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -60px; width: 126px;
}
span.l-COM {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -60px; width: 126px;
}
#header #logos li#l-CAT {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -120px; width: 149px;
}
span.l-CAT {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -120px; width: 149px;
}
#header #logos li#l-EXP {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -180px; width: 210px;
}
span.l-EXP {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -180px; width: 210px;
}
#header #logos li#l-RAP {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -240px; width: 90px;
}
span.l-RAP {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -240px; width: 90px;
}
#header #logos li#l-RAP {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -240px; width: 90px;
}
span.l-RAPIDO_RIBEIRAO_PRETO_LTDA {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -240px; width: 90px;
}
#header #logos li#l-MAC {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -300px; width: 149px;
}
span.l-MAC {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat 16px -300px; width: 149px;
}
#current-trips .trip-choose .line span.small-DEM {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -2px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-TES {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -47px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-MIL {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -2px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-COM {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -47px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-EXP {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -66px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-RAP {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -111px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-RAPIDO_RIBEIRAO_PRETO_LTDA {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -111px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-CAT {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -25px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-MAC {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -90px; height: 20px; margin-top: 23px;
}
#current-trips .trip-choose .line span.small-KAI {
	background: url("../../../imagens/pt/sprite-01.png") no-repeat -370px -132px; height: 20px; margin-top: 23px;
}
#content .box-register-full .error {
	color: rgb(255, 0, 0);
}
#content .box-register-full label {
	line-height: 18px; font-family: "Roboto", sans-serif; font-size: 11px; font-weight: 300; margin-bottom: 10px;
}
#payment-info #card-info label {
	line-height: 18px; font-family: "Roboto", sans-serif; font-size: 11px; font-weight: 300; margin-bottom: 10px;
}
