@media print {
	#non-printable {
		display: none;
	}
	#printable {
		display: block;
	}
}

button {
	padding: 9px 14px;
}

body {
	color: black;
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	height: 100%;

}

.dotted-line {
	border-width: 1px 0px 0px;
	border-style: dotted;
	color: #79796A;
}

.solid-line {
	border-width: 2px 0px 0px;
	border-style: solid;
	color: #000;
}

.gray {
	color: gray;
}

.company-address-container {
	line-height: 20px;
}

.company-info-container {
	padding-top: 11px;
}

.font-condensed {
	font-family: "proxima-nova-condensed" !important;
}

.actions-div {
	width: 750px;
	margin: auto;
	padding: 20px 0px;
}

.receipt-container {
	width: 750px;
	padding: 4px;
	margin: auto;
}

.receipt-info-container {
	display: table;
	padding: 15px 0px;
	min-height: 100px;
	width: 100%;
}

.receipt-info-column-1 {
	max-width: 390px;
	padding: 0px 15px;
	float: left
}

.receipt-info-column-2 {
	float: right;
	text-align: right;
	max-width: 230px;
	word-wrap: break-word;
}

.print-btn {
	float: right;
}

.receipt-details {
	padding: 20px;
	text-align: justify;
}

.receipt-date {
	padding-bottom: 55px;
}

.receipt-company {
	padding-top: 10px;
}

.receipt-detail-container {
	width: 100%; 
	text-align: center; 
	padding: 30px 0px;
}

* {
	font-family: "proxima-nova", sans-serif ! important;
}


/*Buttons*/
.btn {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(255, 255, 255, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(255, 255, 255, 0.05);
  background-color: #f2f3f6;
  background-image: -moz-linear-gradient(77% 3% -90deg, #fcfcfc 0%, #f2f3f6 100%);
  background-image: -webkit-gradient(linear, 77% 3%, 77% 109%, color-stop(0, #fcfcfc), color-stop(1, #f2f3f6));
  background-image: -webkit-linear-gradient(-90deg, #fcfcfc 0%, #f2f3f6 100%);
  background-image: -o-linear-gradient(-90deg, #fcfcfc 0%, #f2f3f6 100%);
  background-image: linear-gradient(to bottom, #fcfcfc 0%, #f2f3f6 100%);
  background: -ms-linear-gradient(top, #fcfcfc 1% , #f2f3f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(enabled=false)";
  filter: progid:DXImageTransform.Microsoft.dropshadow(enabled=false);
  font-size: 14px ! important;
  color: #395a7a;
  border: 1px solid #c9d3dd;
  border-radius: 3px;
}

.btn:hover,
.btn:focus,
.btn.active,
.btn:active,
.btn.disabled,
.btn[disabled] {
  background-color: #fcfcfc;
  background-image: -moz-linear-gradient(77% 3% -90deg, #fcfcfc 0%, #fcfcfc 100%);
  background-image: -webkit-gradient(linear, 77% 3%, 77% 109%, color-stop(0, #fcfcfc), color-stop(1, #fcfcfc));
  background-image: -webkit-linear-gradient(-90deg, #fcfcfc 0%, #fcfcfc 100%);
  background-image: -o-linear-gradient(-90deg, #fcfcfc 0%, #fcfcfc 100%);
  background-image: linear-gradient(to bottom, #fcfcfc 0%, #fcfcfc 100%);
  background: -ms-linear-gradient(top, #fcfcfc 1% , #fcfcfc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  font-size: 14px;
  color: #395a7a;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2);
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(enabled=false)";
  filter: progid:DXImageTransform.Microsoft.dropshadow(enabled=false);
  zoom: 1;
  background-position: 0 0;
}
.btn.active,
.btn:active {
  box-shadow: inset 0 1.5px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.btn-primary,
.btn.btn-primary.active,
.btn.btn-primary:active {
  background-color: #509816;
  background-image: -moz-linear-gradient(77% 3% -90deg, #67c319 0%, #509816 100%);
  background-image: -webkit-gradient(linear, 77% 3%, 77% 109%, color-stop(0, #67c319), color-stop(1, #509816));
  background-image: -webkit-linear-gradient(-90deg, #67c319 0%, #509816 100%);
  background-image: -o-linear-gradient(-90deg, #67c319 0%, #509816 100%);
  background-image: -ms-linear-gradient(-90deg, #67c319 0%, #509816 100%);
  background-image: linear-gradient(to bottom, #67c319 0%, #509816 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #43820a;
  -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5);
  font-size: 14px;
  text-align: left;
  color: #ffffff;
  text-shadow: 1px 1px 0px #4c8800;
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(enabled=false)";
  filter: progid:DXImageTransform.Microsoft.dropshadow(enabled=false);
  zoom: 1;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #68c418;
  background: -moz-linear-gradient(top, #68c418 0%, #68c418 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #68c418), color-stop(100%, #68c418));
  background: -webkit-linear-gradient(top, #68c418 0%, #68c418 100%);
  background: -o-linear-gradient(top, #68c418 0%, #68c418 100%);
  background: -ms-linear-gradient(top, #68c418 0%, #68c418 100%);
  background: linear-gradient(to bottom, #68c418 0%, #68c418 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn.btn-primary:focus,
.btn.btn-primary.active,
.btn.btn-primary:active {
  box-shadow: inset 0 1.5px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.btn-primary:focus,
.btn.btn-primary.active,
.btn.btn-primary:active {
  box-shadow: inset 0 1.5px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.btn-primary .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.btn.btn-bigger {
  padding: 20px;
  font-size: 24px ! important;
}

/*LOGO*/
.container-company-logo {
	margin-top: 2px;
	border: 1px solid #c9d3dd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left;
	background: #ffffff;
}

.container-company-logo .company-logo {

	position: relative;
	border: 0px;
	margin-top: 0px;
}

.company-logo {
	float: left;
	height: 70px;
	margin-top: 5px;
	width: 220px;
	position: relative;
	border: 0px;
	padding: 0px;
}

.container-company-logo .company-logo td {
	border: 0px;
	padding: 4px;
}

/*FONT CONDENSED*/
.condensed {
	font-weight: 100;
}

@media print {
  @page { margin: 0.5cm 1cm; }
}